openapi: 3.2.0
info:
  title: ev.energy v2 Vehicles API
  version: '2.0'
  contact:
    email: developers@ev.energy
    url: developers.ev.energy
    name: ev.energy developers
  description: The official API for ev.energy, version 2.
  license:
    name: Proprietary
    url: https://ev.energy
  termsOfService: ''
servers:
- url: https://api.ev.energy/v2
  description: Live API for both production and sandbox requests.
  x-internal: false
- description: Staging server for internal testing only.
  url: https://api-staging.ev.energy/v2
  x-internal: true
security:
- oauth2: []
tags:
- name: Vehicles
  description: Endpoints for interacting with vehicles.
paths:
  /vehicles/{vehicle_id}/connectors:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Retrieve a vehicle's charging connectors
      description: 'Retrieve the vehicle''s DC-fast charging connectors: its native plug and

        any adapters it carries. `native_connector` is the per-vehicle value,

        falling back to the vehicle model''s default when not overridden (both

        may be null when not yet known).'
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the vehicle's connector configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleConnectors'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-connectors
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle:read
    patch:
      summary: Update a vehicle's charging connectors
      description: 'Update the vehicle''s connectors. The body is a partial map: only the

        keys you include are changed. Set `native_connector` to override the

        model default for this vehicle, or `null` to inherit it. `adaptors`

        replaces the adapter list (send `[]` to clear); adaptors must be

        distinct and must not include the native connector. `PATCH {}` is a

        valid no-op.'
      tags:
      - Vehicles
      responses:
        '200':
          description: Connectors updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleConnectors'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400UpdateVehicleConnectorsValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-vehicles-vehicle_id-connectors
      security:
      - oauth2:
        - vehicle:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleConnectorsUpdate'
      parameters:
      - $ref: '#/components/parameters/version-2'
  /vehicles/{vehicle_id}/state_of_charge:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Retrieve a vehicle's current state of charge
      description: 'Retrieve the vehicle''s current battery percentage used to seed route

        plans. `source` indicates where the value came from: `MANUAL` when the

        driver entered it, or `CONNECTED` when it comes from the vehicle''s

        telemetry. All fields are null when no value is available.'
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the vehicle's current state of charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStateOfCharge'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-state_of_charge
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle:read
    patch:
      summary: Update a vehicle's current state of charge
      description: 'Set the vehicle''s current battery percentage (Mode-1 manual entry). The

        body is a partial map: `PATCH {}` is a valid no-op. Send

        `state_of_charge_percentage: null` to clear it. `source` is read-only.'
      tags:
      - Vehicles
      responses:
        '200':
          description: State of charge updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStateOfCharge'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400UpdateVehicleStateOfChargeValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-vehicles-vehicle_id-state_of_charge
      security:
      - oauth2:
        - vehicle:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleStateOfChargeUpdate'
      parameters:
      - $ref: '#/components/parameters/version-2'
  /vehicles:
    get:
      summary: List vehicles
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a list of vehicles.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles
      parameters:
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/expand-on-vehicle'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      description: List all the vehicles that the authorization token has access to.
      security:
      - oauth2:
        - vehicle:read
    post:
      summary: Create unintegrated vehicle
      tags:
      - Vehicles
      responses:
        '201':
          description: Returns the newly created vehicle resource.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicles
      description: 'If a vehicle cannot be integrated with our system, an "unintegrated" vehicle must be created instead to represent it and record important details like battery size.


        To add a vehicle that can be integrated, see the [Onboarding documentation](docs/howto/onboarding_custom.md).'
      security:
      - oauth2:
        - vehicle:write
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/evenergy-user-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleWrite'
  /vehicles/{vehicle_id}:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Retrieve a vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a single vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id
      parameters:
      - $ref: '#/components/parameters/expand-on-vehicle'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      description: Retrieve a single, specific vehicle's details.
      security:
      - oauth2:
        - vehicle:read
    patch:
      summary: Update a vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: Vehicle updated successfully.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-vehicles
      parameters:
      - $ref: '#/components/parameters/expand-on-vehicle'
      - $ref: '#/components/parameters/version-2'
      description: Update a vehicle.
      security:
      - oauth2:
        - vehicle:write
      requestBody:
        description: Details of Vehicle to be updated.
        content:
          application/json:
            schema:
              type: object
              properties:
                battery_size_watt_hours:
                  type: integer
                  minimum: 1000
                  maximum: 300000
                  description: Battery size in watt-hours. Editable only for unintegrated vehicles; sending it for an integrated vehicle is rejected. Setting it flags the battery size as user-provided. Stored to the nearest 0.01 kWh (10 Wh), so the value read back may be rounded.
                maximum_charge_limit_percentage:
                  type: integer
                  minimum: 50
                  maximum: 100
                  description: 'The required target state of charge of the car as a percentage between 50 and 100. The car will not be smart charged above this value.  '
                smart_charging_enabled:
                  type: boolean
                  description: Whether smart (dynamic) charging is enabled for this vehicle.
                vehicle_class:
                  type:
                  - string
                  - 'null'
                  enum:
                  - PASSENGER
                  - COMMERCIAL
                  - null
                  description: Class of vehicle, passenger or commercial.
    delete:
      summary: Remove a vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: The vehicle has been deleted.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
              examples:
                Example:
                  value:
                    remaining_car_count: 0
        '204':
          description: Sandbox vehicles are not deleted.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: delete-vehicles
      description: Remove a vehicle by disconnecting it from the ev.energy system.
      security:
      - oauth2:
        - vehicle:write
      parameters:
      - $ref: '#/components/parameters/version-2'
  /vehicle_trims:
    parameters: []
    get:
      summary: List vehicle trims
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a list of vehicle trims.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleTrim'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_trims
      parameters:
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/expand-on-vehicletrim'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      - $ref: '#/components/parameters/vehicle_model_id_q'
      - $ref: '#/components/parameters/ordering_by_name'
      description: 'List all the vehicle trims known by the ev.energy system.


        Trim refers to a set of features that can be applied to a particular model of vehicle: https://en.wikipedia.org/wiki/Car_model#Trim_level.


        Pass `?ordering=name` (or `-name`) to sort results alphabetically by name. Without an `ordering` parameter, results are returned in their default creation order.'
      security:
      - oauth2:
        - vehicle:read
    post:
      summary: Create a custom vehicle trim
      tags:
      - Vehicles
      responses:
        '201':
          description: Returns the newly created vehicle trim resource.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleTrim'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicle_trims
      description: 'Creates a new trim for the specified model that can be used if

        we are missing a trim. These trims will not be available in the

        list trims api call'
      security:
      - oauth2:
        - vehicle:write
      parameters:
      - $ref: '#/components/parameters/version-2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleTrimCreate'
  /vehicle_trims/{vehicle_trim_id}:
    parameters:
    - $ref: '#/components/parameters/vehicle_trim_id'
    get:
      summary: Retrieve a vehicle trim
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a single vehicle trim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleTrim'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_trims-vehicle_trim_id
      parameters:
      - $ref: '#/components/parameters/expand-on-vehicletrim'
      - $ref: '#/components/parameters/version-2'
      description: 'Retrieve details for a single, specific vehicle trim.


        Trim refers to a set of features that can be applied to a particular model of vehicle: https://en.wikipedia.org/wiki/Car_model#Trim_level.'
      security:
      - oauth2:
        - vehicle:read
  /vehicle_models:
    parameters: []
    get:
      summary: List vehicle models
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a list of vehicle models.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleModel'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_models
      parameters:
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/expand-on-vehiclemodel'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      - $ref: '#/components/parameters/vehicle_make_id_q'
      - $ref: '#/components/parameters/available_for_user_id'
      - $ref: '#/components/parameters/ordering_by_name'
      description: 'List all the vehicle models known by the ev.energy system.


        Use the `available_for_user_id` query parameter to narrow the list to only those supported for a specific user''s program and tier.


        Pass `?ordering=name` (or `-name`) to sort results alphabetically by name. Without an `ordering` parameter, results are returned in their default creation order.


        Anonymous callers are rate limited to 50 requests per hour per IP.'
      security: []
    post:
      summary: Create vehicle model
      tags:
      - Vehicles
      responses:
        '201':
          description: Returns the newly created vehicle model resource.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModel'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicle_models
      description: 'Create a new vehicle model in the ev.energy system.


        Newly created models are hidden by default and must be reviewed before becoming visible.'
      security:
      - oauth2:
        - vehicle:write
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleModelWrite'
  /vehicle_models/{vehicle_model_id}/connectors:
    parameters:
    - $ref: '#/components/parameters/vehicle_model_id'
    get:
      summary: List a vehicle model's regional connectors
      description: 'List a vehicle model''s DC-fast connectors, one per charging region. A

        model''s connector can differ by market (e.g. NACS in North America, CCS

        in Europe), so each row records the connector for one region. Public

        catalogue data.

        '
      tags:
      - Vehicles
      operationId: get-vehicle_models-vehicle_model_id-connectors
      responses:
        '200':
          description: Returns the vehicle model's regional connectors.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleModelConnector'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      security: []
    post:
      summary: Add a regional connector to a vehicle model
      description: 'Create a connector row for one region of a vehicle model.

        `(vehicle_model, region)` is unique; adding a second row for the same

        region returns a `400`. Requires the `vehicle_catalogue:write` scope.

        '
      tags:
      - Vehicles
      operationId: post-vehicle_models-vehicle_model_id-connectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleModelConnectorCreate'
      responses:
        '201':
          description: The regional connector was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModelConnector'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400VehicleModelConnectorValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle_catalogue:write
  /vehicle_models/{vehicle_model_id}/connectors/{region}:
    parameters:
    - $ref: '#/components/parameters/vehicle_model_id'
    - $ref: '#/components/parameters/region'
    get:
      summary: Retrieve a vehicle model's connector for a region
      tags:
      - Vehicles
      operationId: get-vehicle_models-vehicle_model_id-connectors-region
      responses:
        '200':
          description: Returns the vehicle model's connector for the region.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModelConnector'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/version-2'
      security: []
    patch:
      summary: Update a vehicle model's connector for a region
      description: 'Partially update the connector row for one region. Only the fields

        supplied are changed; `region` is the key and cannot be changed.

        Requires the `vehicle_catalogue:write` scope.

        '
      tags:
      - Vehicles
      operationId: patch-vehicle_models-vehicle_model_id-connectors-region
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleModelConnectorPatch'
      responses:
        '200':
          description: The regional connector was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModelConnector'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400VehicleModelConnectorValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle_catalogue:write
  /vehicle_models/{vehicle_model_id}:
    parameters:
    - $ref: '#/components/parameters/vehicle_model_id'
    get:
      summary: Retrieve a vehicle model
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a list of vehicle models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModel'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_models-vehicle_model_id
      parameters:
      - $ref: '#/components/parameters/expand-on-vehiclemodel'
      - $ref: '#/components/parameters/version-2'
      description: 'Retrieve details for a single, specific vehicle model.


        Anonymous callers are rate limited to 50 requests per hour per IP.'
      security: []
    patch:
      summary: Update a vehicle model
      description: 'Update editable catalogue fields on a vehicle model. Currently only

        `default_connector_type` is editable. Intended for staff/agent

        maintenance of the shared catalogue and requires the

        `vehicle_catalogue:write` scope — ordinary user/app tokens cannot use it.'
      tags:
      - Vehicles
      operationId: patch-vehicle_models-vehicle_model_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleModelUpdate'
      responses:
        '200':
          description: The vehicle model was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModel'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle_catalogue:write
  /vehicle_makes:
    get:
      summary: List vehicle makes
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a list of vehicle makes.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleMake'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_makes
      parameters:
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      - $ref: '#/components/parameters/available_for_user_id'
      - $ref: '#/components/parameters/ordering_by_name'
      description: 'List all the vehicle makes known by the ev.energy system.


        Use the `available_for_user_id` query parameter to narrow the list to only those supported for a specific user''s program and tier.


        Pass `?ordering=name` (or `-name`) to sort results alphabetically by name. Without an `ordering` parameter, results are returned in their default creation order.


        Anonymous callers are rate limited to 50 requests per hour per IP.'
      security: []
  /vehicle_makes/{vehicle_make_id}:
    parameters:
    - $ref: '#/components/parameters/vehicle_make_id'
    get:
      summary: Retrieve a vehicle make
      description: 'Retrieve details for a single, specific vehicle make.


        Anonymous callers are rate limited to 50 requests per hour per IP.'
      tags:
      - Vehicles
      responses:
        '200':
          description: Return a single vehicle make.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleMake'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicle_makes-vehicle_make_id
      parameters:
      - $ref: '#/components/parameters/version-2'
      security: []
  /vehicles/{vehicle_id}/status_logs:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: List status logs for a vehicle
      description: List the historical status logs for a specific Vehicle. Used to find out the state of the Vehicle at each point it reported in to ev.energy.
      tags:
      - Vehicles
      responses:
        '200':
          description: List all the status logs for a specific Vehicle, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleStatusLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-status_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/sampled_at__gte'
      - $ref: '#/components/parameters/sampled_at__lte'
      - $ref: '#/components/parameters/expand-on-vehiclestatuslog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/status_logs/{sampled_at}:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    - schema:
        type: string
        format: date-time
      name: sampled_at
      in: path
      required: true
      description: The time the log's data was recorded on the device.
      example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a specific status log for a vehicle
      description: A single status log for a particular vehicle is uniquely identified by the timestamp it was logged at.
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the Vehicle status logged at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatusLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-status_logs-timestamp
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-vehiclestatuslog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/error_logs:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: List API error logs for a vehicle
      description: List the historical API error logs for a specific Vehicle. These logs capture errors that occurred when attempting to communicate with the vehicle's telematics API.
      tags:
      - Vehicles
      responses:
        '200':
          description: List all the API error logs for a specific Vehicle, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleAPIErrorLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-error_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/logged_at__gte'
      - $ref: '#/components/parameters/logged_at__lte'
      - $ref: '#/components/parameters/expand-on-vehicleapierrorlog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/error_logs/{logged_at}:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    - schema:
        type: string
        format: date-time
      name: logged_at
      in: path
      required: true
      description: The time the error was logged.
      example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a specific API error log for a vehicle
      description: A single API error log for a particular vehicle is uniquely identified by the timestamp it was logged at.
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the Vehicle API error logged at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleAPIErrorLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-error_logs-timestamp
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-vehicleapierrorlog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/location_logs:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: List location logs for a vehicle
      description: List the historical location log timestamps for a specific Vehicle. Returns metadata about when location data was recorded, without exposing the actual location coordinates.
      tags:
      - Vehicles
      responses:
        '200':
          description: List all the location log timestamps for a specific Vehicle, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleLocationLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-location_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/sampled_at__gte'
      - $ref: '#/components/parameters/sampled_at__lte'
      - $ref: '#/components/parameters/expand-on-vehiclelocationlog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/location_logs/{sampled_at}:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    - schema:
        type: string
        format: date-time
      name: sampled_at
      in: path
      required: true
      description: The time the location data was sampled from the vehicle.
      example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a specific location log for a vehicle
      description: A single location log for a particular vehicle is uniquely identified by the timestamp it was sampled at. Returns metadata only, without exposing the actual location coordinates.
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the Vehicle location log metadata at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleLocationLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-location_logs-timestamp
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-vehiclelocationlog'
      security:
      - oauth2:
        - vehicle:read
  /vehicles/{vehicle_id}/command_logs:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: List command logs for a vehicle
      description: List the historical command logs for a specific Vehicle. These logs record commands that were sent to the vehicle.
      tags:
      - Vehicles
      responses:
        '200':
          description: List all the command logs for a specific Vehicle, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleCommandLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-command_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/logged_at__gte'
      - $ref: '#/components/parameters/logged_at__lte'
      - $ref: '#/components/parameters/expand-on-vehiclecommandlog'
      security:
      - oauth2:
        - debug:read
  /vehicles/{vehicle_id}/command_logs/{logged_at}:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    - schema:
        type: string
        format: date-time
      name: logged_at
      in: path
      required: true
      description: The time the command was logged.
      example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a specific command log for a vehicle
      description: A single command log for a particular vehicle is uniquely identified by the timestamp it was logged at.
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the Vehicle command logged at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCommandLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-command_logs-timestamp
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-vehiclecommandlog'
      security:
      - oauth2:
        - debug:read
  /vehicles/{vehicle_id}/vpp_modes:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Get VPP modes for a vehicle
      description: Returns the VPP (Virtual Power Plant) control modes supported by this vehicle.
      tags:
      - Vehicles
      responses:
        '200':
          description: Returns the VPP modes supported by this vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPPModes'
              examples:
                Vehicle VPP Modes:
                  value:
                    target_power: true
                    import_max_power: false
                    export_max_power: false
                    charge_mode: true
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-vpp_modes
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle:read
  /vehicle_onboarding:
    get:
      summary: Initiate vehicle onboarding
      tags:
      - Vehicles
      responses:
        '200':
          description: Returned only when `response_type=json` is supplied. Carries the integration provider's authorization URL plus the metadata native clients need (auth method, OAuth scopes, single-select hint) so they can either open the URL in a WebView or launch the provider's native SDK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleOnboardingJsonResponse'
        '302':
          description: 'Have the user''s browser follow the redirect to be prompted to connect their vehicle to the ev.energy system.


            If a make, model or trim were not provided, the user will first be redirect to a screen to select these.'
          headers:
            Location:
              schema:
                type: string
              description: The URL that the users browser will be redirected to in order to integrate their Vehicle.
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '422':
          description: Returned only on the `response_type=json` path when the integration provider could not produce an authorization URL — for example because the vehicle make is not supported, the provider is currently unavailable, or it returned an error code.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RFC9457ProblemDetail'
      operationId: get-vehicle_onboarding
      description: 'Initiate the onboarding process for a new vehicle in your user''s browser (or an embedded web view in an app).


        If none of `make_id`, `model_id` or `trim_id` are passed as query parameters, the user will be shown a user interface to pick their vehicle make.


        ## Native clients (`response_type=json`)


        Native mobile clients that need to launch a provider SDK (e.g. Smartcar Connect for BMW/MINI) instead of opening a WebView can pass `response_type=json` to receive a JSON payload instead of a 302 redirect. In that case at least one of `make_id`, `model_id` or `trim_id` is required (otherwise the endpoint responds with `400`).


        ## Final redirect


        After the user completes the web flow, the browser is redirected to the `redirect_uri` query parameter (when supplied and valid) or otherwise the `onboarding_redirect_url` configured on your application. The redirect URL will carry one or more query parameters identifying the onboarded vehicles:


        - `vehicle_uid` — the v2 UID of each onboarded vehicle (preferred). Use this to call `GET /v2/vehicles/{vehicle_uid}` for further details.

        - `vehicle_id` — the legacy integer primary key of each onboarded vehicle. Prefer `vehicle_uid`.


        When multiple vehicles are onboarded in a single flow, both query parameters appear once per vehicle in matching order. For example: `https://your-redirect/?vehicle_id=1&vehicle_id=2&vehicle_uid=vhcl01...&vehicle_uid=vhcl02...`.'
      security: []
      parameters:
      - $ref: '#/components/parameters/user_id_onboarding'
      - schema:
          type: string
          example: vmak01J443798BF893ZHFQVCS0FA23
        in: query
        name: make_id
        description: Specify the make of vehicle to be onboarded.
      - schema:
          type: string
          example: vhcl01HNARS42AVJN9QWQF6J52B7MB
        in: query
        name: model_id
        description: Specify the model of vehicle to be onboarded.
      - schema:
          type: string
          example: vhcl01HNARS42AVJN9QWQF6J52B7MB
        in: query
        name: trim_id
        description: Specify the trim of vehicle to be onboarded.
      - $ref: '#/components/parameters/client_id'
      - schema:
          type: string
          enum:
          - json
        in: query
        name: response_type
        description: When set to `json`, the endpoint returns a JSON payload (200) instead of a 302 redirect. Used by native mobile clients to choose between launching a provider SDK and opening a WebView. Requires at least one of `make_id`, `model_id` or `trim_id`.
      - schema:
          type: string
          format: uri
          example: https://drivers.ev.energy/acme
        in: query
        name: redirect_uri
        description: Optional URL to return the user to after onboarding completes. Its scheme and host must match one of the application's registered `redirect_uris` or its `onboarding_redirect_url`, otherwise the endpoint responds with `400`. When omitted, the application's static `onboarding_redirect_url` is used.
  /vehicle_onboarding/complete:
    post:
      summary: Complete vehicle onboarding
      tags:
      - Vehicles
      responses:
        '201':
          description: Authorization code exchanged successfully. Returns the list of created vehicles. Always an array, even when only a single vehicle was created.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleOnboardingCompleteResponse'
        '400':
          $ref: '#/components/responses/Problem400BadRequestCreate'
        '404':
          description: No `AccountAuthorizationRequest` matches the supplied `authorization_request_uid`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RFC9457ProblemDetail'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '422':
          description: Returned when the authorization request has expired, the integration provider rejected the supplied `auth_code`, or no vehicles could be retrieved from the provider.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RFC9457ProblemDetail'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicle_onboarding-complete
      description: 'Exchanges a provider `auth_code` for a list of vehicles, completing an onboarding flow that was initiated via `GET /v2/vehicle_onboarding/?response_type=json`. Used primarily by native mobile clients integrating with the Smartcar Connect SDK (the SDK returns the `auth_code` directly to the app).


        No OAuth bearer token is required, mirroring the init endpoint. The `authorization_request_uid` returned by the init call is what binds this request to the legitimate onboarding flow — it is treated as a single-use token.'
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleOnboardingCompleteRequest'
  /vehicle_onboarding/onboarding_link:
    post:
      summary: Send vehicle onboarding link
      tags:
      - Vehicles
      operationId: post-vehicle_onboarding-onboarding_link
      description: 'Generates a vehicle onboarding deep link for the authenticated user and sends a Braze event containing the email, make name and onboarding URL.


        Requires an OAuth token with `vehicle:write` scope.'
      security:
      - OAuth2:
        - vehicle:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - make
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to send the onboarding link to.
                  example: user@example.com
                make:
                  type: string
                  description: UID of the vehicle make to onboard.
      responses:
        '204':
          description: Onboarding link sent successfully.
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
  /vehicle_compatibility/check:
    get:
      summary: Check vehicle model compatibility in a country
      description: "Returns whether the given vehicle model is supported in the supplied\ncountry. Used by the onboarding flow to tell the user upfront\nwhether their vehicle will work before any account-linking step.\n\nPublic endpoint — callable pre-account, no authentication required.\n\nCountry resolution follows this order: explicit `country` query\nparameter, then the `Accept-Language` header, then `US`.\n\nWhen `program_id` is supplied, the check is scoped to that program's\neffective supported-models list (inclusion/exclusion lists applied)\nand the program's country — the `country` query parameter and\n`Accept-Language` header are ignored.\n\nError responses follow RFC 9457 Problem Details. Problem types\nemitted by this endpoint:\n\n- `validation-failed-vehicle-compatibility-check` — missing or\n  invalid `vehicle_model_id` / `country` query parameter (`400`).\n- `vehicle-model-not-found` — `vehicle_model_id` does not resolve\n  to a vehicle model (`404`).\n- `program-not-found-vehicle-compatibility` — `program_id` does\n  not resolve to a program (`404`)."
      tags:
      - Vehicles
      operationId: get-vehicle_compatibility-check
      parameters:
      - $ref: '#/components/parameters/version-2'
      - name: vehicle_model_id
        in: query
        required: true
        description: Vehicle Model id to check compatibility for.
        schema:
          type: string
          pattern: vmod[A-Z\d]{26}
      - name: country
        in: query
        required: false
        description: ISO-3166 alpha-2 country code. See description for fallback chain.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
          minLength: 2
          maxLength: 2
      - $ref: '#/components/parameters/Accept-Language'
      - name: client_id
        in: query
        required: false
        description: 'OAuth `Application.client_id`. Mirrors the pre-account

          onboarding endpoints: when supplied and the application has

          sandbox mode enabled, the endpoint returns a canned response

          without touching the database.'
        schema:
          type: string
      - name: program_id
        in: query
        required: false
        description: 'Program uid. When supplied, the check is scoped to the

          program''s effective supported-models list (inclusion / exclusion

          lists applied) and the program''s country. `country` and

          `Accept-Language` are ignored in that case. Omit for the core

          app''s pre-account flow where the program is not yet known.'
        schema:
          type: string
          pattern: prog[A-Z\d]{26}
      responses:
        '200':
          description: Compatibility verdict for the supplied model and country.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCompatibilityCheckResult'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
      security: []
  /vehicle_waitlist:
    post:
      summary: Add user to the vehicle waitlist
      description: 'Captures a user who hit an `incompatible` result on the vehicle compatibility check, so we can notify them once their hardware becomes supported. Pre-account, anonymous endpoint — no OAuth token required.


        The request body must identify the device in exactly one of two modes:


        - **Picker mode** — supply `vehicle_model_id` (uid of a `CarModel`). `vehicle_make_name` and `vehicle_model_name` must be omitted / null.

        - **Manual entry** — supply both `vehicle_make_name` and `vehicle_model_name` as free-text strings. `vehicle_model_id` must be omitted / null.


        Any other combination — including all three null — returns `400`.


        Country is derived server-side: from `program.country` when `program_id` is supplied; otherwise from the `Accept-Language` header (defaulting to `US`).


        Error responses follow RFC 9457 Problem Details. Problem types emitted by this endpoint:


        - `validation-failed-vehicle-waitlist` — request body fails validation (missing required field, mode constraint violation, unknown `vehicle_model_id` / `program_id`).'
      tags:
      - Vehicles
      operationId: post-vehicle_waitlist
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/Accept-Language'
      - name: client_id
        in: query
        required: false
        description: 'OAuth `Application.client_id`. Mirrors the pre-account onboarding and compatibility-check endpoints: when supplied and the application has sandbox mode enabled, the endpoint returns a canned `201` without persisting anything.'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleWaitlistRequest'
      responses:
        '201':
          description: Waitlist entry created. Body echoes the new entry's uid.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleWaitlistResponse'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      security: []
  /vehicles/{vehicle_id}/reconnect:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    post:
      summary: Create reconnection URL
      tags:
      - Vehicles
      responses:
        '201':
          description: Returns the newly generated reconnection URL and it's expiry time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleReconnectionUrl'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestCreate'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicles-vehicle_id-reconnect
      description: Create a reconnection request URL for the Vehicle.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleReconnectionUrl'
  /vehicles/{vehicle_id}/disconnect:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    post:
      summary: Disconnect a vehicle's integration
      tags:
      - Vehicles
      responses:
        '200':
          description: 'The disconnection request was processed. Returns the updated

            Vehicle resource reflecting its current state — `INACTIVE` if

            the vehicle was previously integrated, or `UNINTEGRATED` if it

            had no active integration to disconnect.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-vehicles-vehicle_id-disconnect
      description: 'Disconnect the vehicle''s integration. Revokes provider OAuth tokens

        and invalidates the underlying account, leaving the vehicle in an

        `INACTIVE` state. Any open charging sessions on cars sharing the

        account are closed. The vehicle''s provider association is retained

        so the user can re-link by POSTing to

        `/vehicles/{vehicle_id}/reconnect`.


        This action is idempotent — calling it on an unintegrated vehicle

        is a no-op and still returns 200.'
      security:
      - oauth2:
        - vehicle:write
components:
  responses:
    Problem405MethodNotAllowed:
      description: Could not satisfy this HTTP method.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 405
              title:
                type: string
                example: Method Not Allowed
              detail:
                type: string
                example: Could not satisfy this HTTP method.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem400BadRequestCreate:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Request failed validation:
              $ref: '#/components/examples/ProblemValidationFailedVehicle'
      description: A problem with the request's parameters prevented it being fulfilled.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Example 1:
              value:
                type: https://api.ev.energy/v2/problems/rate-limit-exceeded/
                status: 429
                title: Too Many Requests
                detail: Request was rate limited. Try again in 42 seconds
      description: The client has exceeded its rate limit.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        Retry-After:
          $ref: '#/components/headers/retry-after'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem401Unauthorized:
      description: You need to authorise requests to access this resource.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 401
              title:
                type: string
                example: Unauthorized
              detail:
                type: string
                example: Authentication credentials were not provided.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem400UpdateVehicleStateOfChargeValidationFailed:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Request failed validation:
              value:
                type: https://api.ev.energy/v2/problems/validation-failed-update-vehicle-state-of-charge/
                status: 400
                title: Request failed validation.
                detail: 'Error on fields: state_of_charge_percentage'
                field_errors:
                  state_of_charge_percentage:
                  - Ensure this value is less than or equal to 100.
      description: The vehicle state of charge update request body failed validation.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem400BadRequestList:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Invalid Pagination Parameter:
              $ref: '#/components/examples/ProblemInvalidPaginationParameter'
            Unsupported Version:
              $ref: '#/components/examples/ProblemUnsupportedVersion'
      description: A problem with the request's parameters prevented it being fulfilled.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem406NotAcceptable:
      description: Could not satisfy the request Accept header.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 406
              title:
                type: string
                example: Not Acceptable
              detail:
                type: string
                example: Could not satisfy the request Accept header.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem404NotFound:
      description: This resource either does not exist or the client is not authorized to access it.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 404
              title:
                type: string
                example: Not found
              detail:
                type: string
                example: Resource does not exist or cannot be accessed.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem400VehicleModelConnectorValidationFailed:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Request failed validation:
              value:
                type: https://api.ev.energy/v2/problems/validation-failed-create-vehicle-model-connector/
                status: 400
                title: Request failed validation.
                detail: 'Error on fields: region'
                field_errors:
                  region:
                  - A connector for this region already exists.
      description: The vehicle model connector request body failed validation.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem400BadRequestRetrieve:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Unsupported Version:
              $ref: '#/components/examples/ProblemUnsupportedVersion'
      description: A problem with the request's parameters prevented it being fulfilled.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem400UpdateVehicleConnectorsValidationFailed:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Request failed validation:
              value:
                type: https://api.ev.energy/v2/problems/validation-failed-update-vehicle-connectors/
                status: 400
                title: Request failed validation.
                detail: 'Error on fields: adaptors'
                field_errors:
                  adaptors:
                  - An adaptor cannot match the native connector.
      description: The vehicle connectors update request body failed validation.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem403Forbidden:
      description: You do not have permission to perform this action.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 403
              title:
                type: string
                example: Forbidden
              detail:
                type: string
                example: You do not have permission to perform this action.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
  schemas:
    VehicleAPIErrorLog:
      title: VehicleAPIErrorLog
      description: Records an error that occurred when attempting to communicate with a vehicle's telematics API.
      type: object
      x-tags:
      - Vehicles
      properties:
        url:
          type: string
          example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H/error_logs/2024-04-17T09:39:45.984584Z/
          format: uri
          readOnly: true
        logged_at:
          type: string
          description: The date and time when this error was logged by the ev.energy system.
          format: date-time
          readOnly: true
        vehicle:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          - $ref: '#/components/schemas/Vehicle'
        status_code:
          type: integer
          example: 401
          description: The HTTP status code of the error response from the vehicle telematics API.
          readOnly: true
        controller:
          type: string
          example: ENODE
          description: The vehicle controller/integration that was being used when the error occurred.
          readOnly: true
        error_code:
          type: string
          example: AUTHENTICATION_ERROR
          description: The error code received from the provider or determined by the ev.energy system.
          readOnly: true
        error_type:
          type: string
          example: VehicleAPIUnauthorized
          description: The error type received from the provider or determined by the ev.energy system.
          readOnly: true
        request_id:
          type: string
          example: 56rst-z2jku-tty9t-0dn2f-qazow
          description: The request ID that resulted in this error. Used for tracing and debugging.
          readOnly: true
        command:
          type: string
          example: START_CHARGE
          description: The command/method that was being executed when the error occurred.
          readOnly: true
        error_detail:
          type: string
          description: Detailed information about the error.
          readOnly: true
        internal_command_id:
          type:
          - string
          - 'null'
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          description: Internal UUID to track the command dispatch. This can be used to correlate errors with commands.
          readOnly: true
    Supplier:
      title: Supplier
      type: object
      description: An energy company who supplies electricity tariffs.
      required:
      - id
      - url
      - name
      - icon
      properties:
        id:
          type: string
          description: Unique identifier for the given user.
          pattern: supl[A-Z\d]{26}
          example: supl01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/suppliers/supl01HN2NJ9NMRZBXT1H6FT9N7735
        name:
          type: string
          example: Rivendell Renewables
        icon:
          type:
          - string
          - 'null'
          format: uri
          example: https://cdn.example.com/rivendell_renewables.jpg
        highlighted:
          type: boolean
          description: A highlighted supplier is one that is often selected by users.
      x-tags:
      - Tariffs
    VehicleModelWrite:
      title: VehicleModelWrite
      description: Fields that must be set when creating a VehicleModel resource.
      type: object
      x-tags:
      - Vehicles
      required:
      - name
      - make
      properties:
        name:
          type: string
          description: The name of the vehicle model.
          example: Model 3
        make:
          type: string
          format: uri
          description: URL reference to the vehicle make.
          example: https://api.ev.energy/v2/vehicle_makes/vmak01HRFHBCM7VBSWRPVYFBQMH2BR
    Times:
      title: Times
      description: Defines a period of time.
      type: object
      x-tags:
      - Tariffs
      properties:
        start:
          type: string
          example: '18:00:00'
          pattern: \d\d:\d\d:\d\d
        end:
          type: string
          example: 00:00:00
          pattern: \d\d:\d\d:\d\d
    VehicleCompatibilityCheckResult:
      title: VehicleCompatibilityCheckResult
      description: 'Compatibility verdict for a `(vehicle_model, country)` pair.

        Returned by `GET /vehicle_compatibility/check`.'
      type: object
      required:
      - compatible
      - recommendation_rank
      properties:
        compatible:
          type: boolean
          description: True if the model is supported in the requested country.
        recommendation_rank:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 10
          description: 'Priority of the car make on the new device-selection screen.

            Lower = higher priority (1 = top, 10 = lowest explicit value);

            `null` means no rank set and should be treated as lower priority

            than any explicit value. Always reflects the make''s current

            value, independent of `compatible`.'
    VehicleWaitlistRequest:
      title: VehicleWaitlistRequest
      description: 'Request body for `POST /vehicle_waitlist`. Device identification fields are mutually constrained: supply exactly one of (`vehicle_model_id`) or (both `vehicle_make_name` and `vehicle_model_name`). Any other combination returns `400`. Country is not part of the request body — see endpoint description for how it is derived.'
      type: object
      x-tags:
      - Vehicles
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: Email address to notify when the user's hardware becomes supported.
          example: user@example.com
        program_id:
          type:
          - string
          - 'null'
          pattern: prog[A-Z\d]{26}
          description: Optional `ProgramConfig` uid. Captured where known (web signup, whitelabel microsite) so later notification logic can scope by program.
          example: prog01HRS4TSK26BPBV7127DH7E0HA
        vehicle_model_id:
          type:
          - string
          - 'null'
          pattern: vmod[A-Z\d]{26}
          description: Uid of a `CarModel`. Used when the user picked from the vehicle picker. Mutually exclusive with `vehicle_make_name` / `vehicle_model_name`.
          example: vmod01HRS4TSK26BPBV7127DH7E0HA
        vehicle_make_name:
          type: string
          description: Free-text make name from manual entry. Must be supplied together with `vehicle_model_name`. Mutually exclusive with `vehicle_model_id`.
          example: Tesla
        vehicle_model_name:
          type: string
          description: Free-text model name from manual entry. Must be supplied together with `vehicle_make_name`. Mutually exclusive with `vehicle_model_id`.
          example: Model 3
    DailyPrices:
      title: DailyPrices
      description: Information about the tariff's prices for different parts of the day.
      type: object
      additionalProperties: false
      minProperties: 1
      maxProperties: 3
      required:
      - peak
      properties:
        peak:
          $ref: '#/components/schemas/PriceSummary'
        mid_peak:
          $ref: '#/components/schemas/PriceSummary'
        off_peak:
          $ref: '#/components/schemas/PriceSummary'
      x-tags:
      - Tariffs
    VehicleCommandLog:
      title: VehicleCommandLog
      description: Records a command that was sent to a vehicle.
      type: object
      x-tags:
      - Vehicles
      properties:
        url:
          type: string
          example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H/command_logs/2024-04-17T09:39:45.984584Z/
          format: uri
          readOnly: true
        logged_at:
          type: string
          description: The date and time when this command was logged by the ev.energy system.
          format: date-time
          readOnly: true
        vehicle:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          - $ref: '#/components/schemas/Vehicle'
        command:
          type: string
          example: START_CHARGE
          description: The type of command that was sent to the vehicle.
          enum:
          - START_CHARGE
          - STOP_CHARGE
          - WAKE_UP
          - SEND_SCHEDULE
          readOnly: true
        external_command_id:
          type:
          - string
          - 'null'
          example: ext-cmd-12345
          description: External command ID from the vehicle provider.
          readOnly: true
        current_milliamps:
          type:
          - integer
          - 'null'
          example: 32000
          description: If a start/stop command was sent, this is the current level that was sent in milliamps.
          readOnly: true
        internal_command_id:
          type:
          - string
          - 'null'
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          description: Internal UUID to track this command dispatch. This links with device command logs and error logs.
          readOnly: true
    Tariff:
      title: Tariff
      examples:
      - id: tari01HN2NJ9NMRZBXT1H6FT9N7735
        url: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7735
        supplier: https://api.ev.energy/v2/suppliers/supl01HN2NJ9NMRZBXT1H6FT9N7735
        name: Fangorn Biomass
        currency: GBP
        gsp_group: _C
        valid_from: '2026-03-17'
        valid_until: '2027-03-17'
        daily_prices:
          peak:
            price: '0.30'
            times:
            - start: '18:00:00'
              end: 00:00:00
          mid_peak:
            price: '0.20'
            times:
            - start: '10:00:00'
              end: 08:00:00
          off_peak:
            price: '0.10'
            times:
            - start: 08:00:00
              end: '18:00:00'
        scheduler_tariff: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7835
      description: 'Note: daily_prices and type are only available under contract. Please reach out to your account manager to find out more.'
      x-tags:
      - Tariffs
      allOf:
      - $ref: '#/components/schemas/TariffBase'
      - type: object
        properties:
          scheduler_tariff:
            oneOf:
            - type: string
              format: uri
              example: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7835
            - type: object
              required:
              - id
              - url
              - supplier
              - name
              - currency
              properties:
                id:
                  type: string
                  pattern: tari[A-Z\d]{26}
                url:
                  type: string
                  format: uri
                supplier:
                  type: string
                  format: uri
                name:
                  type: string
                currency:
                  type: string
[...]
