openapi: 3.2.0
info:
  title: ev.energy v2 Charging Sessions API
  version: '2.0'
  contact:
    email: developers@ev.energy
    url: developers.ev.energy
    name: ev.energy developers
  description: The official API for ev.energy, version 2.
  license:
    name: Proprietary
    url: https://ev.energy
  termsOfService: ''
servers:
- url: https://api.ev.energy/v2
  description: Live API for both production and sandbox requests.
  x-internal: false
- description: Staging server for internal testing only.
  url: https://api-staging.ev.energy/v2
  x-internal: true
security:
- oauth2: []
tags:
- name: Charging Sessions
  description: Endpoints related to records of charging. See [Understanding charging data](docs/understanding/charging_sessions.md) for how charging sessions (plug-in episodes), charging sub-sessions (per-mode segments) and energy usage intervals (actual energy delivery) relate to each other.
paths:
  /charging_sessions:
    get:
      summary: List charging sessions
      description: 'List all charging sessions visible to the authenticated client. Each session represents one physical plug-in episode: its start/end are the plug-in and unplug times. A session contains one or more charging sub-sessions — one per contiguous period in a single charging mode.


        Charging sessions are recorded from the feature''s release (July 2026) onwards; earlier charging history is not backfilled and is available only as charging sub-sessions.


        See [Understanding charging data](docs/understanding/charging_sessions.md) for how charging sessions, sub-sessions and energy usage intervals relate.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns a list of charging sessions, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargingSession'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sessions
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/expand-on-chargingsession'
      - $ref: '#/components/parameters/user'
      security:
      - oauth2:
        - charging_session:read
  /charging_sessions/{charging_session_id}:
    parameters:
    - $ref: '#/components/parameters/charging_session_id'
    get:
      summary: Retrieve a charging session
      description: 'Retrieve a specific charging session representing one physical plug-in episode: its start/end are the plug-in and unplug times. See [Understanding charging data](docs/understanding/charging_sessions.md).'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns a single charging session.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSession'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sessions-charging_session_id
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsession'
      - $ref: '#/components/parameters/user'
      security:
      - oauth2:
        - charging_session:read
  /charging_sessions/{charging_session_id}/boost_start:
    parameters:
    - $ref: '#/components/parameters/charging_session_id'
    post:
      summary: Start boost charging
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Boost charging was started. Returns the charging session resource.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSession'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '409':
          $ref: '#/components/responses/Problem409Conflict'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
        '503':
          $ref: '#/components/responses/Problem503ServiceUnavailable'
      operationId: post-charging_sessions-charging_session_id-boost_start
      description: 'Start boost charging on this charging session''s vehicle. Finishes the

        in-progress smart charging sub-session and starts a replacement boost

        sub-session, charging the vehicle continuously rather than around the

        cheapest/greenest times. The plug-in episode (this resource) continues

        unchanged.


        Returns `409 Conflict` if smart charging is turned off for the

        vehicle, or if this session''s current sub-session is not an

        in-progress smart charging session that can be boosted.'
      security:
      - oauth2:
        - charging_session:write
  /charging_sessions/{charging_session_id}/boost_end:
    parameters:
    - $ref: '#/components/parameters/charging_session_id'
    post:
      summary: End boost charging
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Boost charging was ended. Returns the charging session resource.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSession'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '409':
          $ref: '#/components/responses/Problem409Conflict'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
        '503':
          $ref: '#/components/responses/Problem503ServiceUnavailable'
      operationId: post-charging_sessions-charging_session_id-boost_end
      description: 'End boost charging on this charging session''s vehicle. Finishes the

        in-progress boost sub-session and starts a replacement smart charging

        sub-session, returning the vehicle to charging around the

        cheapest/greenest times. The plug-in episode (this resource) continues

        unchanged.


        Returns `409 Conflict` if smart charging is turned off for the

        vehicle, or if this session''s current sub-session is not currently

        boosting.'
      security:
      - oauth2:
        - charging_session:write
  /charging_sub_sessions:
    get:
      summary: List charging sub sessions
      description: 'List all charging sub sessions visible to the authenticated client.


        A charging sub-session is a segment of a plug-in episode during which a single charging mode (SMART, BOOST, etc.) was active. Its start/end mark when that mode started and stopped being active — they are not plug-in/plug-out times (see the charging_sessions resource for those), and they are not the times energy was actually flowing (see the sub-session''s energy_usage endpoint for those).


        See [Understanding charging data](docs/understanding/charging_sessions.md) for how charging sessions, sub-sessions and energy usage intervals relate.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns a list of charging sub sessions, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargingSubSession'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/expand-on-chargingsubsession'
      - $ref: '#/components/parameters/evse_id_q'
      - $ref: '#/components/parameters/vehicle_id_q'
      - $ref: '#/components/parameters/user_id_q'
      - $ref: '#/components/parameters/user'
      - $ref: '#/components/parameters/energy_delivered_watt_hours__gte'
      - $ref: '#/components/parameters/energy_delivered_watt_hours__lte'
      - $ref: '#/components/parameters/is_finished'
      - $ref: '#/components/parameters/mode'
      - schema:
          type: string
          format: date-time
        in: query
        name: start__gt
        description: Only return sessions that started after the passed date
      - schema:
          type: string
          format: date-time
        in: query
        name: start__lt
        description: Only return sessions that started before the passed date
      - schema:
          type: string
          format: date-time
        in: query
        name: end__gt
        description: Only return sessions that ended after the passed date
      - schema:
          type: string
          format: date-time
        in: query
        name: end__lt
        description: Only return sessions that ended before the passed date
      security:
      - oauth2:
        - charging_session:read
  /charging_sub_sessions/{charging_sub_session_id}:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve a charging sub-session
      description: Retrieve a specific charging sub-session, representing a period of a plug-in episode during which a single charging mode was active. Its start/end mark when the mode started and stopped being active — not plug-in/plug-out times, and not when energy was actually flowing. See [Understanding charging data](docs/understanding/charging_sessions.md).
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns information about a single charging sub-session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSubSession'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession'
      security:
      - oauth2:
        - charging_session:read
  /charging_sub_sessions/{charging_sub_session_id}/energy_usage:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve periodic energy usage intervals for a charging sub-session
      description: 'Retrieve periodic energy usage intervals for a specific charging sub-session. This is the endpoint to use to find out when energy was actually delivered to the vehicle.


        A sub-session''s start/end only mark when its charging mode was active — within that window, energy delivery may begin late (e.g. smart charging waiting for an off-peak period), finish early (e.g. the target charge level was reached), or occur in several separate bursts. The intervals returned here report the actual delivery.


        By default, intervals are regular fixed-length periods. If you are looking for intervals that cover the whole time energy is being delivered (which are therefore of irregular length) — for example to find the actual charging windows — use the `merge_consecutive_intervals` query parameter. Gaps where no energy flowed are returned as intervals with zero energy delivered; filter them out with `energy_delivered_watt_hours__gt=0` if you only want the charging windows.


        See [Understanding charging data](docs/understanding/charging_sessions.md) for how charging sessions, sub-sessions and energy usage intervals relate.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns information about a single charging sub-session's energy usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyUsage'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-energy_usage
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-energyusage'
      - $ref: '#/components/parameters/energy_delivered_watt_hours__gt'
      - schema:
          type: boolean
        in: query
        name: merge_consecutive_intervals
        description: 'Request consecutive intervals of energy delivery (and intervals of no delivery) to be merged into combined periods of irregular length. '
      security:
      - oauth2:
        - charging_session:read
  /charging_sub_sessions/{charging_sub_session_id}/flags:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve flags for a charging sub-session
      description: 'Retrieve flags associated with a specific charging sub-session.


        Flags highlight particular types of issues or anomalies detected during a charging session, along with their root causes.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns the flags associated with this charging sub-session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSubSessionFlags'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-flags
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-flags'
      security:
      - oauth2:
        - charging_session:read
  /charging_sub_sessions/{charging_sub_session_id}/debug_metadata:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve debug metadata for a charging sub-session
      description: 'Retrieve debug metadata for a specific charging sub-session.


        Debug metadata exposes session-level diagnostic information such as start/finish reasons, the energy usage calculation and interpolation methods used, whether energy delivery was capped, and the solar integration type of the paired EVSE.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns the debug metadata associated with this charging sub-session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSubSessionDebugMetadata'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-debug_metadata
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-debug-metadata'
      security:
      - oauth2:
        - debug:read
  /charging_sub_sessions/{charging_sub_session_id}/schedules:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve schedules for a charging sub-session
      description: 'Retrieve schedules for a specific charging sub-session.


        Schedules represent charging instructions for a charging session. Each schedule specifies a current (in milliamps) and a time period during which that current should be applied.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns information about a single charging sub-session's schedules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedules'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-schedules
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-schedules'
      - schema:
          type: string
          format: date-time
        in: query
        name: started_at__gte
        description: Filter schedules with started_at greater than or equal to this datetime.
      - schema:
          type: string
          format: date-time
        in: query
        name: started_at__lte
        description: Filter schedules with started_at less than or equal to this datetime.
      - schema:
          type: string
          pattern: scpl[A-Z\d]{26}
          example: scpl01HSH04KDEWF6Z4DB2J77J74K5
        in: query
        name: schedule_plan_id
        description: Filter schedules generated from a specific schedule plan.
      - schema:
          type: boolean
          default: true
        in: query
        required: false
        name: only_most_recently_created
        description: Only show the most recently created schedule for each time period
      security:
      - oauth2:
        - chargingsession:read
  /charging_sub_sessions/{charging_sub_session_id}/schedule_plans:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve schedule plans for a charging sub-session
      description: 'Retrieve schedule plans for a specific charging sub-session.


        Schedule plans represent the charging plan parameters used to generate schedules for a charging session. Each plan contains information about the ready-by time, charging requirements, and constraints that were used to create the charging schedule.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns schedule plans for a charging sub-session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePlans'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-schedule_plans
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-scheduleplans'
      - schema:
          type: string
          format: date-time
        in: query
        name: created_at__gte
        description: Filter schedule plans with created_at greater than or equal to this datetime.
      - schema:
          type: string
          format: date-time
        in: query
        name: created_at__lte
        description: Filter schedule plans with created_at less than or equal to this datetime.
      security:
      - oauth2:
        - debug:read
  /charging_sub_sessions/{charging_sub_session_id}/assessment:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    get:
      summary: Retrieve assessment for a charging sub-session
      description: 'Retrieve the performance assessment for a specific charging sub-session.


        The assessment contains performance metrics for completed charging sessions, including energy delivery ratios, charge rates, and detailed quality metrics.'
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns the assessment for a charging sub-session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSubSessionAssessment'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-charging_sub_sessions-charging_sub_session_id-assessment
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-chargingsubsession-assessment'
      security:
      - oauth2:
        - debug:read
      x-stoplight:
        id: chargingsubsession-assessment-endpoint
  /charging_sub_sessions/{charging_sub_session_id}/recalculate_energy_usages:
    parameters:
    - $ref: '#/components/parameters/charging_sub_session_id'
    post:
      summary: Recalculate energy usages for a charging sub-session
      description: 'Triggers a recalculation of energy usages (and performance assessment) for a completed

        charging sub-session. Use `dry_run` to preview the recalculation without persisting

        changes, and `cap_overages` to control whether energy overages are capped.

        '
      tags:
      - Charging Sessions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                  default: false
                  description: If true, the recalculation is simulated and no changes are persisted.
                cap_overages:
                  type: boolean
                  default: true
                  description: If true, energy overages are capped during recalculation.
      responses:
        '200':
          description: 'Recalculation has been triggered (or simulated if `dry_run` was true). The

            response includes the total energy delivered for the session both before and

            after the recalculation so the caller can see the effect. When `dry_run` is

            true, `new_energy_delivered_watt_hours` reflects the prospective value that

            would result from the recalculation (no persistence).

            '
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - previous_energy_delivered_watt_hours
                - new_energy_delivered_watt_hours
                properties:
                  status:
                    type: string
                    enum:
                    - recalculation_triggered
                    - dry_run_completed
                    example: recalculation_triggered
                  previous_energy_delivered_watt_hours:
                    type: integer
                    description: Total energy delivered for the session before the recalculation, in watt-hours.
                    example: 3500
                  new_energy_delivered_watt_hours:
                    type: integer
                    description: Total energy delivered for the session after the recalculation, in watt-hours. When `dry_run` is true, this is the prospective value that would result from committing.
                    example: 4250
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-charging_sub_sessions-charging_sub_session_id-recalculate_energy_usages
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - charging_session:write
      x-stoplight:
        id: chargingsubsession-recalculate-energy-usages-endpoint
  /dispatcher_logs:
    get:
      summary: List dispatcher logs
      description: List all dispatcher logs for a charging session. These logs record Dispatch Command attempts to EVSEs or Vehicles.
      tags:
      - Charging Sessions
      responses:
        '200':
          description: Returns a list of dispatcher logs, sorted newest first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DispatcherLog'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-dispatcher_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/expand-on-dispatcherlog'
      - name: charging_sub_session_id
        in: query
        required: true
        schema:
          type: string
          pattern: csub[A-Z\d]{26}
          example: csub01HSH04KDEWF6Z4DB2J77J74K5
        description: Filter dispatcher logs to a specific charging sub-session.
      - schema:
          type: string
          format: date-time
        in: query
        name: logged_at__gte
        description: Only return logs that were logged at or after the passed date.
      - schema:
          type: string
          format: date-time
        in: query
        name: logged_at__lte
        description: Only return logs that were logged at or before the passed date.
      security:
      - oauth2:
        - debug:read
webhooks:
  charging_sub_session.created:
    post:
      summary: Charging sub-session created
      description: A charging sub-session is created, representing a period of charging in a single mode.
      tags:
      - Charging Sessions
      parameters:
      - name: svix-event-type
        in: header
        required: true
        description: The event type for this webhook, always `charging_sub_session.created` for this endpoint. This matches the `type` field in the body envelope, so you can route on the header without parsing the body.
        schema:
          type: string
          enum:
          - charging_sub_session.created
      - $ref: '#/components/parameters/svix-id'
      - $ref: '#/components/parameters/svix-timestamp'
      - $ref: '#/components/parameters/svix-signature'
      requestBody:
        description: A `{type, timestamp, data}` envelope. `data` is the created charging sub-session resource, in exactly the same format returned by `GET /v2/charging_sub_sessions/{id}`. The event type is also delivered in the `svix-event-type` header.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargingSubSessionCreatedWebhook'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  charging_sub_session.ended:
    post:
      summary: Charging sub-session ended
      description: A charging sub-session has ended, representing a period of charging in a single mode.
      tags:
      - Charging Sessions
      parameters:
      - name: svix-event-type
        in: header
        required: true
        description: The event type for this webhook, always `charging_sub_session.ended` for this endpoint. This matches the `type` field in the body envelope, so you can route on the header without parsing the body.
        schema:
          type: string
          enum:
          - charging_sub_session.ended
      - $ref: '#/components/parameters/svix-id'
      - $ref: '#/components/parameters/svix-timestamp'
      - $ref: '#/components/parameters/svix-signature'
      requestBody:
        description: A `{type, timestamp, data}` envelope. `data` is the ended charging sub-session resource, in exactly the same format returned by `GET /v2/charging_sub_sessions/{id}`. The event type is also delivered in the `svix-event-type` header.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargingSubSessionEndedWebhook'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
components:
  parameters:
    expand-on-chargingsession:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - vehicle
          - evse
          - sub_sessions
      explode: true
      description: Specify a url field to expand into a nested resource.
    evse_id_q:
      name: evse_id
      in: query
      schema:
        type: string
        pattern: evse[A-Z\d]{26}
        example: evse01HSH04KDEWF6Z4DB2J77J74K5
      description: Filter to only resources related to the given EVSE.
    is_finished:
      name: is_finished
      in: query
      required: false
      schema:
        type: boolean
        example: false
      description: Filters for sessions that are finished.
    svix-id:
      name: svix-id
      in: header
      required: true
      description: Unique identifier for this webhook message. It remains stable across delivery retries of the same event, so receivers can use it to deduplicate.
      schema:
        type: string
        example: msg_2eoqqPZwMlztxZbIXr0eeqYTscI
    energy_delivered_watt_hours__gte:
      name: energy_delivered_watt_hours__gte
      in: query
      schema:
        type: integer
        example: 500
      description: Filters for values greater than or equal to a value.
    user:
      name: EvEnergy-User
      description: If the client is authenticated using Client Credentials, setting EvEnergy-User to a valid user ID allows requests to be made as if you were directly authenticated as that user.
      in: header
      required: false
      schema:
        type: string
        pattern: user[A-Z\d]{26}
        example: user01HN2NJ9NMRZBXT1H6FT9N7735
    energy_delivered_watt_hours__gt:
      name: energy_delivered_watt_hours__gt
      in: query
      schema:
        type: integer
        example: 0
      description: Filters for values greater than a value.
    user_id_q:
      name: user_id
      in: query
      required: false
      schema:
        type: string
        example: me
      description: Filter collection to only resources owned by a specific user.
    expand-on-chargingsubsession-flags:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
    charging_session_id:
      name: charging_session_id
      description: Uniquely identify a specific charging session.
      in: path
      schema:
        type: string
        pattern: cses[A-Z\d]{26}
        example: cses01HSH04KDEWF6Z4DB2J77J74K5
      required: true
    svix-timestamp:
      name: svix-timestamp
      in: header
      required: true
      description: The time at which this webhook message was dispatched, as a Unix epoch timestamp in seconds.
      schema:
        type: string
        example: '1674087231'
    mode:
      name: mode
      in: query
      required: false
      schema:
        type: string
        example: SMART
        enum:
        - SMART
        - BOOST
        - UNMANAGED_HOME
        - UNMANAGED_OTG
        - MANAGED_OTG
      description: Filters sessions to only return sessions with this mode.
    expand-on-chargingsubsession-assessment:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
    vehicle_id_q:
      name: vehicle_id
      in: query
      schema:
        type: string
        pattern: vhcl[A-Z\d]{26}
        example: vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
      description: Filter to only resources related to the given Vehicle.
    expand-on-chargingsubsession-schedules:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
    expand-on-chargingsubsession:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - evse
          - evse.latest_status_log
          - evse.model
          - evse.model.make
          - evse.user
          - vehicle
          - vehicle.latest_status_log
          - vehicle.trim
          - vehicle.trim.model
          - vehicle.trim.model.make
          - vehicle.user
          - energy_usage
          - schedules
          - assessment
          - flags
          - debug_metadata
          - tariff
          - tariff.supplier
          - carbon_feed
          - grid_feeds
      explode: true
      description: Specify a url field to expand into a nested resource.
    page_size:
      name: page_size
      description: Specify the number of results to return per page.
      in: query
      required: false
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
        example: 10
    previous:
      name: page_before
      description: Return results from the page after this ID.
      in: query
      required: false
      schema:
        type: string
        pattern: '[a-z]{4}[A-Z\d]{26}'
        example: xmpl01HNFZM7Q8FXASZXYZ6XM3TQRR
    next:
      name: page_after
      description: Return results from the page before this ID.
      in: query
      required: false
      schema:
        type: string
        pattern: '[a-z]{4}[A-Z\d]{26}'
        example: xmpl01HNFZM7Q8FXASZXYZ6XM3TQRR
    expand-on-dispatcherlog:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
    expand-on-chargingsubsession-scheduleplans:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
          - price_data
      explode: true
      description: Specify a url field to expand into a nested resource.
    svix-signature:
      name: svix-signature
      in: header
      required: true
      description: Space-separated list of HMAC signatures used to verify that the payload was sent by ev.energy and was not tampered with. See https://docs.svix.com/receiving/verifying-payloads/how for how to verify.
      schema:
        type: string
        example: v1,g0hM9SsE+OTPJTGt/tmIKtSyZlE3uFJELVlNIOLJ1OE=
    charging_sub_session_id:
      name: charging_sub_session_id
      description: Uniquely identify a specific charging sub-session.
      in: path
      schema:
        type: string
        pattern: csub[A-Z\d]{26}
        example: csub01HSH04KDEWF6Z4DB2J77J74K5
      required: true
    expand-on-chargingsubsession-energyusage:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
    version-2:
      name: EvEnergy-Version
      description: Specify the version of this endpoint to use.
      required: false
      in: header
      schema:
        type: number
        enum:
        - 2
    energy_delivered_watt_hours__lte:
      name: energy_delivered_watt_hours__lte
      in: query
      schema:
        type: integer
        example: 500
      description: Filters for values less than or equal to a value.
    expand-on-chargingsubsession-debug-metadata:
      name: expand
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - charging_sub_session
      explode: true
      description: Specify a url field to expand into a nested resource.
  schemas:
    ChargingSubSessionAssessment:
      title: ChargingSubSessionAssessment
      type: object
      description: Performance assessment for a completed charging sub-session.
      properties:
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/assessment
          readOnly: true
        charging_sub_session:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5
          - $ref: '#/components/schemas/ChargingSubSession'
          description: The parent charging sub-session. Defaults to a url, but can be expanded to the full ChargingSubSession resource via the `expand` query parameter.
          readOnly: true
        energy_delivered_to_capacity_percentage:
          type:
          - integer
          - 'null'
          description: Energy delivered as a percentage of battery capacity. Values above 100 indicate overdelivery.
          example: 85
          readOnly: true
        energy_delivery_percentage:
          type:
          - integer
          - 'null'
          description: Energy delivered as a percentage of energy required.
          example: 92
          readOnly: true
        average_charge_rate_watts:
          type:
          - integer
          - 'null'
          description: Average charge rate in watts throughout the session.
          example: 7200
          readOnly: true
        max_charge_rate_watts:
          type:
          - integer
          - 'null'
          description: Maximum charge rate in watts throughout the session.
          example: 11000
          readOnly: true
        metrics:
          $ref: '#/components/schemas/ChargingSubSessionAssessmentMetrics'
          readOnly: true
        ratings:
          $ref: '#/components/schemas/ChargingSubSessionAssessmentRatings'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          description: When the assessment was last updated.
          readOnly: true
    Supplier:
      title: Supplier
      type: object
      description: An energy company who supplies electricity tariffs.
      required:
      - id
      - url
      - name
      - icon
      properties:
        id:
          type: string
          description: Unique identifier for the given user.
          pattern: supl[A-Z\d]{26}
          example: supl01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/suppliers/supl01HN2NJ9NMRZBXT1H6FT9N7735
        name:
          type: string
          example: Rivendell Renewables
        icon:
          type:
          - string
          - 'null'
          format: uri
          example: https://cdn.example.com/rivendell_renewables.jpg
        highlighted:
          type: boolean
          description: A highlighted supplier is one that is often selected by users.
      x-tags:
      - Tariffs
    GridFeed:
      title: GridFeed
      type: object
      description: A grid feed representing a source of grid signal data used for smart charging decisions.
      x-tags:
      - Grid
      required:
      - id
      - url
      - name
      - reference_code
      - priority
      properties:
        id:
          type: string
          description: Unique identifier for the grid feed.
          pattern: grfd[A-Z\d]{26}
          example: grfd01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/grid_feeds/grfd01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        name:
          type: string
          description: Human-readable name for the grid feed.
          example: CAISO Peak Demand
          readOnly: true
        reference_code:
          type: string
          description: Machine-readable reference code for the grid feed, consistent across environments.
          example: CAISO_PEAK
          readOnly: true
        priority:
          type: integer
          description: Priority level (1-10) used to resolve conflicts when a user has multiple overlapping grid feeds.
          minimum: 1
          maximum: 10
          example: 8
          readOnly: true
    CarbonFeed:
      title: CarbonFeed
      type: object
      description: A carbon feed representing a source of carbon intensity data for a specific region or grid.
      x-tags:
      - Carbon
      required:
      - id
      - url
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the carbon feed.
          pattern: cabf[A-Z\d]{26}
          example: cabf01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/carbon_feeds/cabf01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        name:
          type: string
          description: Human-readable name for the carbon feed.
          example: UK National Grid
          readOnly: true
    ChargingSubSessionAssessmentRatings:
      title: ChargingSubSessionAssessmentRatings
      type: object
      description: RAG (Red/Amber/Green) quality ratings for assessment metrics. Includes an overall quality rating.
      additionalProperties:
        type: string
        enum:
        - RED
        - AMBER
        - GREEN
        - NOT_APPLICABLE
      example:
        overall: RED
        energy_delivered_to_capacity_ratio: RED
        energy_delivery_ratio: RED
        average_charge_rate_watts: AMBER
        max_charge_rate_watts: AMBER
        vehicle_data_uptime: GREEN
        schedule_quality: GREEN
        session_duration: GREEN
    CTClamp:
      title: CTClamp
      description: A CT (Current Transformer) clamp used to measure grid current, typically for solar charging logic.
      type: object
      x-tags:
      - CT Clamps
      properties:
        id:
          type: string
          description: Unique identifier for the given CT clamp.
          pattern: ctcl[A-Z\d]{26}
          example: ctcl01HSH04KDEWF6Z4DB2J77J74K5
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/ct_clamps/ctcl01HSH04KDEWF6Z4DB2J77J74K5
          readOnly: true
        evse:
          oneOf:
          - type:
            - string
            - 'null'
            format: uri
            example: https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5
          - $ref: '#/components/schemas/EVSE'
          description: The EVSE associated with this CT clamp. Will be null if not linked to an EVSE.
          readOnly: true
        calibration_factor:
          type: integer
          description: Calibration multiplier for current readings. A value of -1 indicates the clamp was fitted the wrong way around.
          example: 1
          readOnly: true
    Times:
      title: Times
      description: Defines a period of time.
      type: object
      x-tags:
      - Tariffs
      properties:
        start:
          type: string
          example: '18:00:00'
          pattern: \d\d:\d\d:\d\d
        end:
          type: string
          example: 00:00:00
          pattern: \d\d:\d\d:\d\d
    ChargingSession:
      title: ChargingSession
      type: object
      description: Represents a single physical plug-in episode (plug in → unplug). A session may contain multiple charging sub-sessions if the charging mode changed while the vehicle was plugged in. Only recorded from the feature's release (July 2026) onwards — earlier charging history is not backfilled. See [Understanding charging data](docs/understanding/charging_sessions.md).
      x-tags:
      - Charging sessions
      required:
      - id
      - url
      - start
      properties:
        id:
          type: string
          description: Unique identifier for the charging session.
          pattern: cses[A-Z\d]{26}
          example: cses01HSH04KDEWF6Z4DB2J77J74K5
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/charging_sessions/cses01HSH04KDEWF6Z4DB2J77J74K5
        start:
          type: string
          format: date-time
          description: When the plug-in episode began, i.e. when the vehicle was plugged in.
          readOnly: true
        end:
          type:
          - string
          - 'null'
          format: date-time
          description: When the plug-in episode ended, i.e. when the vehicle was unplugged. Null while the vehicle is still plugged in.
          readOnly: true
        vehicle:
          oneOf:
          - type:
            - string
            - 'null'
            format: uri
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          - $ref: '#/components/schemas/Vehicle'
        evse:
          oneOf:
          - type:
            - string
            - 'null'
            format: uri
            example: https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5
          - $ref: '#/components/schemas/EVSE'
        sub_sessions:
          oneOf:
          - type: array
            items:
              type: string
              format: uri
            example:
            - https://api.ev.energy/v2/charging_sub_sessions/csub01HSH08F2YWBKZ9NXR7P3QD5VT
            - https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5
            description: Links to sub-sessions by default.
          - type: array
            items:
              $ref: '#/components/schemas/ChargingSubSession'
            description: Expanded sub-sessions when ?expand=sub_sessions is used, ordered newest first.
          description: Links by default, expanded data when ?expand=sub_sessions is used. Ordered newest first.
    DailyPrices:
      title: DailyPrices
      description: Information about the tariff's prices for different parts of the day.
      type: object
      additionalProperties: false
      minProperties: 1
      maxProperties: 3
      required:
      - peak
      properties:
        peak:
          $ref: '#/components/schemas/PriceSummary'
        mid_peak:
          $ref: '#/components/schemas/PriceSummary'
        off_peak:
          $ref: '#/components/schemas/PriceSummary'
      x-tags:
      - Tariffs
    Tariff:
      title: Tariff
      examples:
      - id: tari01HN2NJ9NMRZBXT1H6FT9N7735
        url: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7735
        supplier: https://api.ev.energy/v2/suppliers/supl01HN2NJ9NMRZBXT1H6FT9N7735
        name: Fangorn Biomass
        currency: GBP
        gsp_group: _C
        valid_from: '2026-03-17'
        valid_until: '2027-03-17'
        daily_prices:
          peak:
            price: '0.30'
            times:
            - start: '18:00:00'
              end: 00:00:00
          mid_peak:
            price: '0.20'
            times:
            - start: '10:00:00'
              end: 08:00:00
          off_peak:
            price: '0.10'
            times:
            - start: 08:00:00
              end: '18:00:00'
        scheduler_tariff: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7835
      description: 'Note: daily_prices and type are only available under contract. Please reach out to your account manager to find out more.'
      x-tags:
      - Tariffs
      allOf:
      - $ref: '#/components/schemas/TariffBase'
      - type: object
        properties:
          scheduler_tariff:
            oneOf:
            - type: string
              format: uri
              example: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7835
            - type: object
              required:
              - id
              - url
              - supplier
              - name
              - currency
              properties:
                id:
                  type: string
                  pattern: tari[A-Z\d]{26}
                url:
                  type: string
                  format: uri
                supplier:
                  type: string
                  format: uri
                name:
                  type: string
                currency:
                  type: string
              additionalProperties: true
            - type: 'null'
            description: The tariff used by the scheduler for charge optimisation, which may differ from the billing tariff. Returns a URL by default, or null if not set. Expandable with ?expand=scheduler_tariff to return a TariffBase object (additional fields may be present beyond those listed here).
    EVSESite:
      title: EVSESite
      type: object
      description: Represents a place with one or more EVSEs installed which can be accessed by multiple users.
      required:
      - id
      - url
      - evses
      - cpms_connection
      properties:
        id:
          type: string
          pattern: site[A-Z\d]{26}
          examples:
          - site01JX2SZ0WAFTDYVYY0JRAYREY7
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/evse_sites/site01JX2SZ0WAFTDYVYY0JRAYREY7
          readOnly: true
        evses:
          type: array
          description: A list of all EVSEs that are currently associated with this site.
          items:
            type: string
            format: uri
            examples:
            - https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5
          readOnly: true
        cpms_connection:
          type:
          - string
          - 'null'
          description: The type of ChargePoint Management System that this site is connected to, if there is one.
          enum:
          - null
          - CHARGEPOINT
          - SWTCH
          readOnly: true
        cpms_connection_display_name:
          type:
          - string
          - 'null'
          description: A human-readable name for the Chargepoint Management System that the site is connected to.
          example: ChargePoint
        user_connected:
          type:
          - boolean
          - 'null'
          description: When authenticated as a specific user (eg. via the Authorisation Code grant type) or when the EvEnergy-User header is set to a valid user ID, this field will indicate whether the user is currently connected to this EVSE Site's CPMS. If the request is not made in the context of a user, or the site does not have a CPMS connection, this field will be null.
          readOnly: true
    Schedules:
      title: Schedules
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/schedules
          readOnly: true
        charging_sub_session:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5
          - $ref: '#/components/schemas/ChargingSubSession'
          description: The charging sub-session these schedules belong to. Defaults to a url, but can be expanded to the full ChargingSubSession resource via the `expand` query parameter.
          readOnly: true
        schedules:
          type: array
          description: A list of schedule intervals for this charging sub-session.
          items:
            $ref: '#/components/schemas/ScheduleInterval'
          readOnly: true
    VehicleStatusLog:
      title: VehicleStatusLog
      description: Records the state of a Vehicle at a particular point in time.
      type: object
      x-tags:
      - Vehicles
      properties:
        url:
          type: string
          example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H/status_logs/2024-01-01T11:11:11.1111Z/
          format: uri
          readOnly: true
        logged_at:
          type: string
          description: The date and time this status information was received and stored.
          format: date-time
          readOnly: true
        sampled_at:
          type: string
          format: date-time
          description: The date and time when this data was recorded. Likely to be earlier than `logged_at`, but how much earlier depends on the integration and other factors.
        vehicle:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          - $ref: '#/components/schemas/Vehicle'
        state_of_charge_percentage:
          type:
          - integer
          - 'null'
          example: 70
          description: How full the vehicle's battery is, as a percentage. Will be null if we are unable to get this information from the vehicle's telematics.
          readOnly: true
        is_charging:
          type:
          - boolean
          - 'null'
          default: false
          description: Is the vehicle currently receiving charge? Will be null if we are unable to get this information from the vehicle's telematics.
          readOnly: true
        is_plugged_in:
          type:
          - boolean
          - 'null'
          default: false
          description: Is the vehicle currently connected to an EVSE? Will be null if we are unable to get this information from the vehicle's telematics.
          readOnly: true
        charge_rate_watts:
          type:
          - integer
          - 'null'
          description: The current rate of charge being received, in watts. Will be null if we are unable to get this information from the Vehicle integration.
        estimated_charge_rate_watts:
          type:
          - integer
          - 'null'
          description: The charge rate in watts estimated from the change in battery charge level. Useful when the Vehicle integration does not report charge_rate_watts directly. Will be null if it cannot be estimated.
          readOnly: true
        charge_level_watt_hours:
          type:
          - integer
          - 'null'
          description: The battery charge level in watt hours. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        target_charge_level_percentage:
          type:
          - integer
          - 'null'
          description: The target charge level as a percentage. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        target_charge_level_watt_hours:
          type:
          - integer
          - 'null'
          description: The target charge level in watt hours. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        charge_energy_added_watt_hours:
          type:
          - integer
          - 'null'
          description: The amount of energy added during the most recent charge, as reported by the vehicle, in watt hours. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        minutes_to_full_charge:
          type:
          - integer
          - 'null'
          description: The number of minutes the vehicle predicts until it is fully charged. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        current_type:
          type:
          - string
          - 'null'
          enum:
          - AC - Typically home chargers
          - DC - Typically OTG chargers
          - null
          description: The current type of the EVSE the vehicle is connected to (AC or DC). Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        is_complete:
          type:
          - boolean
          - 'null'
          description: Whether the vehicle has reached the target charge level. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        odometer_meters:
          type:
          - integer
          - 'null'
          description: The vehicle's odometer reading in meters. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
        data_source:
          type:
          - string
          - 'null'
          description: The integration that originated this data.
          readOnly: true
        state:
          type:
          - string
          - 'null'
          enum:
          - DRIVING
          - RECENTLY_FINISHED_DRIVING
          - STATIONARY
          - IN_SERVICE
          - PLUGGED_IN_NOT_CHARGING
          - PLUGGED_IN_CHARGING
          - PLUGGED_IN_COMPLETE
          - PLUGGED_IN_NEAR_READY_BY_TIME
          - PLUGGED_IN_ALMOST_COMPLETE
          - UNKNOWN
          - null
          description: The state of the vehicle. Will be null if we are unable to get this information from the Vehicle integration.
          readOnly: true
    EVSEModel:
      title: Model
      description: A resource representing a model of EVSEs.
      type: object
      required:
      - id
      - url
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the given EVSE Model.
          pattern: emod[A-Z\d]{26}
          example: emod01HS9A004X5TB5JCMHENB5Z446
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/evse_models/emod01HS9A004X5TB5JCMHENB5Z446
          readOnly: true
        name:
          type: string
          example: EVWC2S22
          readOnly: true
        make:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/evse_makes/emak01HS8FRMXGE3566EDXCMWGW5W4
          - $ref: '#/components/schemas/EVSEMake'
        display_name:
          type:
          - string
          - 'null'
          example: EVWC2S22
          description: The EVSE model name for in-app display. May be null if no display name has been set.
          readOnly: true
        onboarding_url:
          type:
          - string
          - 'null'
          example: https://api.ev.energy/v2/evse_onboarding?model_id=emod01HN2NJHAJJAQD32QJ4QXTDSGW&user_id=user01HN2NJ9NMRZBXT1H6FT9N7735&client_id=your_client_id
          format: uri
          description: 'A pre-constructed link to initiate onboarding for an EVSE with this model. If it is null, then we do not support intergrating with this EVSE and the user will need an integrated vehicle in order for us to be able to track their charging.


            Your `client_id` and the user''s `user_id` are automatically included based on your authentication token. If you are using client credentials authentication, the user ID will not be automatically included unless you set the EvEnergy-User header on your request.'
          readOnly: true
      x-tags:
      - EVSEs
    Location:
      title: Location
      type: object
      description: 'Location model for charging locations.


        **Address validation:** Address fields are optional as a group, but each field independently triggers the requirement. If any of `address_1`, `address_2`, `city`, `state`, `postal_code`, `country_code`, or `coordinates` is provided with a non-null value, then `address_1`, `city`, `postal_code`, and `country_code` must all be provided as non-null values. Sending the keys with explicit `null` values is allowed and does not trigger the requirement (this is how addresses are cleared via `PATCH`). Partial addresses are rejected with a 400.

        '
      properties:
        address_1:
          type:
          - string
          - 'null'
          description: First line of address.
        address_2:
          type:
          - string
          - 'null'
          description: Second line of address.
        postal_code:
          type:
          - string
          - 'null'
          description: Postal Code.
        country_code:
          anyOf:
          - $ref: '#/components/schemas/CountryCode'
          - type: 'null'
          $ref: '#/components/schemas/CountryCode'
        coordinates:
          anyOf:
          - $ref: '#/components/schemas/LatLong'
          - type: 'null'
        tariff:
          oneOf:
          - format: uri
            type:
            - string
            - 'null'
            example: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7735
          - $ref: '#/components/schemas/Tariff'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        evse_site:
          oneOf:
          - type:
            - string
            - 'null'
          - $ref: '#/components/schemas/EVSESite'
          description: If null, the user's location is not an EVSE Site. Otherwise, this field references the site they are a part of.
      dependentSchemas:
        address_1:
          if:
            properties:
              address_1:
                not:
                  type: 'null'
          then:
            required:
            - city
            - postal_code
            - country_code
            properties:
              city:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
        address_2:
          if:
            properties:
              address_2:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - city
            - postal_code
            - country_code
            properties:
              address_1:
                not:
                  type: 'null'
              city:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
        city:
          if:
            properties:
              city:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - postal_code
            - country_code
            properties:
              address_1:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
        state:
          if:
            properties:
              state:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - city
            - postal_code
            - country_code
            properties:
              address_1:
                not:
                  type: 'null'
              city:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
        postal_code:
          if:
            properties:
              postal_code:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - city
            - country_code
            properties:
              address_1:
                not:
                  type: 'null'
              city:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
        country_code:
          if:
            properties:
              country_code:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - city
            - postal_code
            properties:
              address_1:
                not:
                  type: 'null'
              city:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
        coordinates:
          if:
            properties:
              coordinates:
                not:
                  type: 'null'
          then:
            required:
            - address_1
            - city
            - postal_code
            - country_code
            properties:
              address_1:
                not:
                  type: 'null'
              city:
                not:
                  type: 'null'
              postal_code:
                not:
                  type: 'null'
              country_code:
                not:
                  type: 'null'
    ChargingSubSession:
      title: SubSession
      type: object
      description: Represents a period within a charging session (one plug-in episode) when the same charging mode was active. Begins either when a vehicle is plugged in or when it switches mode (eg. from smart to boost) and ends either when the vehicle is unplugged or the mode switches again. Note that start/end bound the period the mode was active — not when energy was actually flowing. Energy may be delivered during only part of the sub-session, or in several separate bursts (see the energy_usage endpoint). See [Understanding charging data](docs/understanding/charging_sessions.md).
      x-tags:
      - Charging sessions
      required:
      - id
      - url
      - start
      - end
      - mode
      - energy_delivered_watt_hours
      - location
      - cost
      - currency
      - total_co2_grams
      - co2_intensity_grams_per_kilowatt_hour
      - co2_intensity_classification
      - duration_minutes
      - grid_energy_delivered_watt_hours
      - solar_energy_delivered_watt_hours
      properties:
        id:
          type: string
          description: Unique identifier for the given Charging sub-session.
          pattern: csub[A-Z\d]{26}
          example: csub01HSH04KDEWF6Z4DB2J77J74K5
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5
        start:
          type: string
          format: date-time
          description: When this sub-session began — either when the vehicle was plugged in, or when the charging mode changed (e.g. the user activated boost). Not necessarily when energy started flowing; see the energy_usage endpoint for actual delivery intervals.
          readOnly: true
        end:
          type:
          - string
          - 'null'
          format: date-time
          description: When this sub-session ended — either when the vehicle was unplugged, or when the charging mode changed again. Null while the sub-session is ongoing. Energy delivery often finishes well before this time (e.g. once the target charge level is reached).
          readOnly: true
        mode:
          enum:
          - SMART
          - BOOST
          - UNMANAGED_HOME
          - UNMANAGED_OTG
          - MANAGED_OTG
          description: 'The type of scheduling applied during this period.


            SMART: Actively optimised charging


            BOOST: Charge immediately


            UNMANAGED_HOME: No optimisation, at a home location


            UNMANAGED_OTG: No optimisation, at an on-the-go (public) location


            MANAGED_OTG: Optimised charging at an on-the-go (public) location'
          readOnly: true
        vehicle:
          oneOf:
          - type:
            - string
            - 'null'
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
            format: uri
          - $ref: '#/components/schemas/Vehicle'
        evse:
          oneOf:
          - type:
            - string
            - 'null'
            example: https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5
            format: uri
          - $ref: '#/components/schemas/EVSE'
        energy_delivered_watt_hours:
          type: integer
          example: 2300
          description: Net energy delivered to the vehicle during this sub-session in Wh.
          readOnly: true
        cost:
          type:
          - integer
          - 'null'
          example: 634
          readOnly: true
        location:
          type: object
          properties:
            name:
              type: string
              example: Home
              readOnly: true
            coordinates:
              type: object
              $ref: '#/components/schemas/LatLong'
              description: Can be null
            postal_code:
              type:
              - string
              - 'null'
              maxLength: 10
            address_1:
              type:
              - string
              - 'null'
            timezone:
              type:
              - string
              - 'null'
              example: Europe/London
              description: IANA timezone name for the charging location.
        percentage_added:
          type:
          - number
          - 'null'
          example: 30
          readOnly: true
        currency:
          type: string
          example: GBP
          readOnly: true
        savings_cost:
          type:
          - integer
          - 'null'
          description: Cost Savings in Minor Unit of Currency.
          readOnly: true
        savings_co2_grams:
          type:
          - integer
          - 'null'
          description: Savings of Carbon in Grams of CO2.
          readOnly: true
        incentive_earned:
          type:
          - integer
          - 'null'
          example: 99
          description: Incentive earned in minor unit of currency.
          readOnly: true
        total_co2_grams:
          type:
          - integer
          - 'null'
          description: Estimated total CO2 emissions of this sub-session in grams
        co2_intensity_grams_per_kilowatt_hour:
          type:
          - integer
          - 'null'
          description: Estimated CO2 emissions per unit of electricity in grams per kilowatt hour
        co2_intensity_classification:
          oneOf:
          - enum:
            - very low
            - low
            - moderate
            - high
            - very high
          - type: 'null'
          description: Classification of the estimated CO2 intensity value. Can be null.
          readOnly: true
        cost_per_kilowatt_hour:
          type:
          - integer
          - 'null'
          description: Average cost per kilowatt hour of energy delivered during this charging sub-session
        total_points:
          type: integer
          description: Number of smart points earned during this charging sub-session
        total_points_missed:
          type:
          - integer
          - 'null'
          description: Difference between the number of smart points earned in this sub-session and the number that would have been earned by Smart charging
        duration_minutes:
          type: integer
          description: How long the vehicle was actively charging for, to the nearest minute. This can be much shorter than the gap between start and end, and does not tell you when within the sub-session energy was delivered — use the energy_usage endpoint for that.
        grid_energy_delivered_watt_hours:
          type:
          - integer
          - 'null'
          description: Grid energy delivered during this charging sub-session in watt hours (Wh).
          readOnly: true
        solar_energy_delivered_watt_hours:
          type:
          - integer
          - 'null'
          description: Solar energy delivered during this charging sub-session in watt hours (Wh).
          readOnly: true
        labels:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - OUTSIDE
            - OFF_PEAK
            - SUMMER_PEAK
            - MIXED
            - OTHER
            - PRIMARY
            - AWAY
            - CONED
            - ORU
          description: Labels categorizing this charging sub-session (e.g., service territory, pricing period).
          readOnly: true
        energy_usage:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/energy_usage
            readOnly: true
          - $ref: '#/components/schemas/EnergyUsage'
          description: A link to more detailed information about energy usage during the charging sub-session, including the intervals in which energy was actually delivered to the vehicle. Can be expanded.
        schedules:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/schedules
            readOnly: true
          - $ref: '#/components/schemas/Schedules'
          description: A link to schedule information for the charging sub-session. Can be expanded.
          readOnly: true
        assessment:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/assessment
            readOnly: true
          - $ref: '#/components/schemas/ChargingSubSessionAssessment'
          description: A link to the performance assessment for this charging sub-session. Can be expanded. Requires debug:read scope.
          readOnly: true
        flags:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/flags
            readOnly: true
          - $ref: '#/components/schemas/ChargingSubSessionFlags'
          description: A link to flags associated with this charging sub-session. Can be expanded.
          readOnly: true
        debug_metadata:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5/debug_metadata
            readOnly: true
          - $ref: '#/components/schemas/ChargingSubSessionDebugMetadata'
          description: A link to debug metadata for this charging sub-session. Can be expanded. Requires debug:read scope.
          readOnly: true
        tariff:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/tariffs/tari01HN2NJ9NMRZBXT1H6FT9N7735
          - $ref: '#/components/schemas/Tariff'
          - type: 'null'
          description: The electricity import tariff. Expandable with ?expand=tariff. Requires tariff:read scope.
          readOnly: true
        carbon_feed:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/carbon_feeds/cabf01HN2NJ9NMRZBXT1H6FT9N7735
          - $ref: '#/components/schemas/CarbonFeed'
          - type: 'null'
          description: The carbon feed used to calculate carbon intensity for this sub-session. Expandable with ?expand=carbon_feed. Requires carbon:read scope.
          readOnly: true
        grid_feeds:
          oneOf:
          - type: array
            items:
              type: string
              format: uri
              example: https://api.ev.energy/v2/grid_feeds/grfd01HN2NJ9NMRZBXT1H6FT9N7735
          - type: array
            items:
              $ref: '#/components/schemas/GridFeed'
          description: Grid feeds applied to this sub-session. Expandable with ?expand=grid_feeds. Requires grid:read scope.
          readOnly: true
        solar_mode_type:
          type:
          - string
          - 'null'
          enum:
          - 'OFF'
          - SOLAR_ONLY
          - SOLAR_AND_GRID
          - SOLAR_SMART
          - null
          description: The solar charging mode active for this sub-session. Null when solar charging is not configured.
          readOnly: true
        grid_energy_delivered:
          type: string
          format: decimal
          deprecated: true
          description: Use `grid_energy_delivered_watt_hours` instead
          readOnly: true
        solar_energy_delivered:
          type: string
          format: decimal
          deprecated: true
          description: Use `solar_energy_delivered_watt_hours` instead.
          readOnly: true
    SchedulePlan:
      title: SchedulePlan
      type: object
      description: A schedule plan containing the parameters used to generate charging schedules.
      properties:
        id:
          type: string
          pattern: scpl[A-Z\d]{26}
          example: scpl01HSH04KDEWF6Z4DB2J77J74K5
          description: Unique identifier for this schedule plan.
          readOnly: true
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T02:00:00Z'
          description: When this schedule plan was created.
          readOnly: true
        ready_by_time:
          type: string
          format: date-time
          example: '2024-01-01T08:00:00Z'
          description: The target time by which charging should be complete.
          readOnly: true
        price_threshold_minor_unit:
          type:
          - integer
          - 'null'
          example: 1500
          description: Price threshold in minor currency units (e.g., cents/pence) multiplied by 100. For example, 1500 represents 15 pence (£0.15), and 50 represents 0.5 pence (£0.005). Null if no threshold set.
          readOnly: true
        power_on_current_milliamps:
          type: integer
          example: 32000
          description: The charging current in milliamps when power is on.
          readOnly: true
        power_off_current_milliamps:
          type: integer
          example: 0
          description: The current in milliamps when power is off (typically 0).
          readOnly: true
        seconds_to_charge:
          type: integer
          example: 10800
          description: The number of seconds required to complete charging.
          readOnly: true
        vehicle_charge_level_watt_hours:
          type:
          - integer
          - 'null'
          example: 25000
          description: The vehicle's battery level in watt-hours at the time the plan was created. Null if unknown.
          readOnly: true
        estimated_charge_rate_watts:
          type: integer
          example: 7400
          description: The estimated charging rate in watts.
          readOnly: true
        estimated_charge_rate_source:
          type:
          - string
          - 'null'
          enum:
          - CURRENT_SESSION_EVSE_DATA_LOGS
          - CURRENT_SESSION_VEHICLE_DATA_LOGS
          - ENERGY_TRANSFER_PERIODS
          - DEFAULT_CHARGE_RATE
          - MAX_EVSE_CHARGE_RATE
          - MAX_VEHICLE_CHARGE_RATE
          - null
          description: The source of data used for estimating charge rate. Null if not specified.
          readOnly: true
        watt_hours_to_charge:
          type: integer
          example: 22000
          description: The total energy required to complete charging in watt-hours.
          readOnly: true
        min_charge_limit_percent:
          type: integer
          minimum: 0
          maximum: 100
          example: 0
          description: The minimum charge limit as a percentage (0-100).
          readOnly: true
        max_charge_limit_percent:
          type: integer
          minimum: 0
          maximum: 100
          example: 80
          description: The maximum charge limit as a percentage (0-100).
          readOnly: true
        price_data:
          oneOf:
          - type: 'null'
          - type: array
            items:
              $ref: '#/components/schemas/Price'
          description: Tariff rate intervals active when this schedule plan was created. Null by default; expand with ?expand=price_data to populate. Returns null if no tariff is associated with the session.
          readOnly: true
    Vehicle:
      title: Vehicle
      description: A resource representing a single, physical electric vehicle.
      type: object
      x-tags:
      - Vehicles
      required:
      - id
      - url
      - integrated
      - battery_size_watt_hours
      - effective_battery_size_watt_hours
      - maximum_charge_limit_percentage
      - description
      - disabled
      - smart_charging_enabled
      - vehicle_class
      properties:
        id:
          type: string
          description: Unique identifier for the given Vehicle.
          pattern: vhcl[A-Z\d]{26}
          example: vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          readOnly: true
        trim:
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/trim/vehicle_trim01HRFHBCM7VBSWRPVYFBQMH2BR
          - $ref: '#/components/schemas/VehicleTrim'
          description: Defaults to a url, but can be expanded to the full Trim resource via the `expand` query parameter.
          readOnly: true
        user:
          example: https://api.ev.energy/v2/users/user01HN2NJ9NMRZBXT1H6FT9N7735
          oneOf:
          - type: string
            format: uri
            example: https://api.ev.energy/v2/user/user01HN2NJ9NMRZBXT1H6FT9N7735
          - $ref: '#/components/schemas/User'
          description: Defaults to a url, but can be expanded to the full User resource via the `expand` query parameter.
        latest_status_log:
          example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H/status_logs/2024-04-17T09:39:45.994584Z/
          oneOf:
          - type:
            - string
            - 'null'
            example: https://api.ev.energy/v2/vehicles/vhcl01HRFF3SEVSCRAV9B3CHVDFN0H/status_logs/2024-04-17T09:39:45.994584Z/
            format: uri
          - $ref: '#/components/schemas/VehicleStatusLog'
          description: An expandable reference to the most recent status log for this Vehicle. This can be requested or expanded to get the most accurate information we have on the device's current status.
        charging_sub_sessions:
          type: string
          format: uri
          example: https://api.ev.energy/charging_sub_sessions/?vehicle_id=vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
          description: Provides a pre-constructed URL to list charging sub-sessions involving this Vehicle.
        integrated:
          enum:
          - UNINTEGRATED
          - ACTIVE
          - INACTIVE
          description: 'Whether we have an integration with this vehicle.

            - `UNINTEGRATED`: This vehicle is not integrated

            - `ACTIVE`: This vehicle is integrated and the connection is working.

            - `INACTIVE`: This vehicle has been integrated but the connection has been severed, usually because the user needs to reconnect it.'
          readOnly: true
        battery_size_watt_hours:
          type: integer
          minimum: 1000
          maximum: 300000
          description: The nominal battery capacity of the vehicle in watt-hours according to the vehicle integration or trim. Editable via PATCH only for unintegrated vehicles; sending it for an integrated vehicle is rejected. Setting it flags the battery size as user-provided. Stored to the nearest 0.01 kWh (10 Wh), so the value read back may be rounded.
          example: 60000
        effective_battery_size_watt_hours:
          type: integer
          description: The effective battery capacity of the vehicle in watt-hours, accounting for estimated degradation based on odometer reading. This is the value used by the smart charging scheduler.
          readOnly: true
          example: 60000
        maximum_charge_limit_percentage:
          type: integer
          minimum: 50
          maximum: 100
          description: The target state of charge of the car as a percentage between 50 and 100. The car will not be smart charged above this value. Can be null if target charge level has not been set or we don't know the car's battery size.
          default: 100
        description:
          type: string
          maxLength: 200
          description: Human-readable label for the vehicle.
          example: My Volvo C40
          readOnly: true
        disabled:
          type: boolean
          description: 'Whether the vehicle has been disabled and can no longer be smart-charged or controlled. Set when the user unenrolls the vehicle, when an integrated vehicle is switched to unintegrated (''dumb''), or when the owning account is pending deletion. Disabled vehicles that have not been permanently deleted are still returned by this endpoint. This is independent of integrated: a disabled vehicle can still report integrated=ACTIVE (e.g. pending deletion), and a healthy never-integrated vehicle is not disabled.'
          example: false
          readOnly: true
        smart_charging_enabled:
          type: boolean
          description: Whether smart (dynamic) charging is enabled for this vehicle.
          example: true
        vehicle_class:
          type:
          - string
          - 'null'
          enum:
          - PASSENGER
          - COMMERCIAL
          - null
          description: Class of vehicle, passenger or commercial.
          example: PASSENGER
    ChargingSubSessionEndedWebhook:
      title: Charging Sub Session Ended Webhook
      description: Webhook payload delivered when a charging sub-session ends.
      type: object
      required:
      - type
      - timestamp
      - data
      properties:
        type:
          type: string
          enum:
          - charging_sub_session.ended
          description: The event type. Also delivered in the `svix-event-type` header.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp for when the event occurred.
        data:
          description: The ended charging sub-session, in the same format returned by `GET /v2/charging_sub_sessions/{id}`.
          allOf:
          - $ref: '#/components/schemas/ChargingSubSession'
      examples:
      - type: charging_sub_session.ended
        timestamp: '2022-11-03T20:26:10.344522Z'
        data:
          id: csub01HSH04KDEWF6Z4DB2J77J74K5
          url: https://api.ev.energy/v2/charging_sub_sessions/csub01HSH04KDEWF6Z4DB2J77J74K5
          start: '2019-08-24T14:15:22Z'
          end: '2019-08-24T15:15:22Z'
          mode: SMART
          energy_delivered_watt_hours: 2300
          location:
            name: Home
          cost: 634
          currency: GBP
          total_co2_grams: 229
          co2_intensity_grams_per_kilowatt_hour: 1
          co2_intensity_classification: low
          duration_minutes: 60
          grid_energy_delivered_watt_hours: 1840
          solar_energy_delivered_watt_hours: 460
    ChargingSessionFlag:
      title: ChargingSessionFlag
      type: object
      properties:
        name:
          type: string
          description: Name describing the type of issue flagged. New values may be added over time.
          example: ENERGY_OVER_DELIVERY
        root_cause:
          type: string
          description: Category describing the root cause of the issue. New values may be added over time.
          example: CHARGE_MEASUREMENT_OSCILLATION
      required:
      - name
      - root_cause
    ChargingSubSessionAssessmentMetrics:
      title: ChargingSubSessionAssessmentMetrics
      type: object
      description: Performance quality metrics for a charging session assessment. All fields are nullable.
      properties:
        vehicle_data_uptime:
          type:
          - integer
          - 'null'
          description: Vehicle data uptime as a percentage (0-100).
          example: 95
        vehicle_location_uptime:
          type:
          - integer
          - 'null'
          description: Vehicle location uptime as a percentage (0-100).
          example: 90
        vehicle_error_rate:
          type:
          - integer
          - 'null'
          description: Vehicle error rate as a percentage (0-100).
          example: 2
        vehicle_command_adherence:
          type:
          - integer
          - 'null'
          description: Vehicle command adherence as a percentage (0-100).
          example: 88
        evse_data_uptime:
          type:
          - integer
          - 'null'
          description: EVSE data uptime as a percentage (0-100).
          example: 98
        evse_command_adherence:
          type:
          - integer
          - 'null'
          description: EVSE command adherence as a percentage (0-100).
          example: 92
        schedule_quality:
          type:
          - integer
          - 'null'
          description: Time that schedule requested charging but no charge occurred as a percentage (0-100).
          example: 85
        charge_outside_of_schedule:
          type:
          - integer
          - 'null'
          description: Energy usage outside of schedule as a percentage (0-100).
          example: 5
        session_duration:
          type:
          - integer
          - 'null'
          description: Session duration.
          example: 28800
        energy_delivered_vs_required:
          type:
          - integer
          - 'null'
          description: Energy delivered vs required as a percentage (0-100).
          example: 95
        savings_attainment_rate:
          type:
          - integer
          - 'null'
          description: Savings achieved compared to theoretical maximum as a percentage (0-100).
          example: 78
        session_savings_range:
          type:
          - integer
          - 'null'
          description: Difference between maximum and minimum theoretical session costs (units of currency).
          example: 30
        charge_energy_added_meter_reset:
          type:
          - boolean
          - 'null'
[...]
