openapi: 3.2.0
info:
  title: ev.energy v2 VPP API
  version: '2.0'
  contact:
    email: developers@ev.energy
    url: developers.ev.energy
    name: ev.energy developers
  description: The official API for ev.energy, version 2.
  license:
    name: Proprietary
    url: https://ev.energy
  termsOfService: ''
servers:
- url: https://api.ev.energy/v2
  description: Live API for both production and sandbox requests.
  x-internal: false
- description: Staging server for internal testing only.
  url: https://api-staging.ev.energy/v2
  x-internal: true
security:
- oauth2: []
tags:
- name: VPP
  description: Endpoints for virtual power plant - dispatch coordination and reporting.
paths:
  /evses/{evse_id}/vpp_modes:
    parameters:
    - $ref: '#/components/parameters/evse_id'
    get:
      summary: Get VPP modes for an EVSE
      description: Returns the VPP (Virtual Power Plant) control modes supported by this EVSE.
      tags:
      - VPP
      responses:
        '200':
          description: Returns the VPP modes supported by this EVSE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPPModes'
              examples:
                EVSE VPP Modes:
                  value:
                    target_power: true
                    import_max_power: true
                    export_max_power: false
                    charge_mode: true
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-vpp_modes
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - evse:read
  /vehicles/{vehicle_id}/vpp_modes:
    parameters:
    - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Get VPP modes for a vehicle
      description: Returns the VPP (Virtual Power Plant) control modes supported by this vehicle.
      tags:
      - VPP
      responses:
        '200':
          description: Returns the VPP modes supported by this vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPPModes'
              examples:
                Vehicle VPP Modes:
                  value:
                    target_power: true
                    import_max_power: false
                    export_max_power: false
                    charge_mode: true
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-vpp_modes
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - vehicle:read
  /dispatch_coordinators:
    get:
      summary: List dispatch coordinators
      description: List all available dispatch coordinators.
      tags:
      - VPP
      responses:
        '200':
          description: Returns a list of dispatch coordinators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DispatchCoordinator'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-dispatch_coordinators
      parameters:
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/user'
      security:
      - oauth2:
        - dispatch_coordinator:read
  /dispatch_coordinators/{dispatch_coordinator_id}:
    parameters:
    - $ref: '#/components/parameters/dispatch_coordinator_id'
    get:
      summary: Retrieve a dispatch coordinator
      description: Retrieve a single dispatch coordinator's details.
      tags:
      - VPP
      responses:
        '200':
          description: Returns a single dispatch coordinator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchCoordinator'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-dispatch_coordinators-dispatch_coordinator_id
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - dispatch_coordinator:read
  /dispatch_coordinators/{dispatch_coordinator_id}/dispatch_events:
    parameters:
    - $ref: '#/components/parameters/dispatch_coordinator_id'
    post:
      summary: Create a dispatch event
      description: Create a dispatch event for a dispatch coordinator. This is a placeholder endpoint — the event is validated and returned but not persisted.
      tags:
      - VPP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchEventWrite'
      responses:
        '201':
          description: Returns the created dispatch event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchEvent'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-dispatch_coordinators-dispatch_coordinator_id-dispatch_events
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - dispatch_event:write
  /dispatch_coordinators/{dispatch_coordinator_id}/dispatch_events/{dispatch_event_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/dispatch_coordinator_id'
    - $ref: '#/components/parameters/dispatch_event_id'
    post:
      summary: Cancel a dispatch event
      description: Cancel a dispatch event to stop an active or scheduled dispatch.
      tags:
      - VPP
      responses:
        '200':
          description: The dispatch event cancellation was accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchEventCancelResponse'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-dispatch_coordinators-dispatch_coordinator_id-dispatch_events-dispatch_event_id-cancel
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - dispatch_event:write
  /dispatch_coordinators/{dispatch_coordinator_id}/dispatch_logs:
    parameters:
    - $ref: '#/components/parameters/dispatch_coordinator_id'
    get:
      summary: List dispatch logs for a coordinator
      description: List the historical dispatch logs for a specific dispatch coordinator. These logs record aggregate fleet charging power at a point in time.
      tags:
      - VPP
      responses:
        '200':
          description: List all the dispatch logs for a specific dispatch coordinator, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DispatchLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-dispatch_coordinators-dispatch_coordinator_id-dispatch_logs
      parameters:
      - $ref: '#/components/parameters/version-2'
      - $ref: '#/components/parameters/previous'
      - $ref: '#/components/parameters/next'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/logged_at__gte'
      - $ref: '#/components/parameters/logged_at__lte'
      security:
      - oauth2:
        - dispatch_coordinator:read
  /dispatch_coordinators/{dispatch_coordinator_id}/dispatch_logs/{logged_at}:
    parameters:
    - $ref: '#/components/parameters/dispatch_coordinator_id'
    - schema:
        type: string
        format: date-time
      name: logged_at
      in: path
      required: true
      description: The time the dispatch log was recorded.
      example: '2025-03-01T10:00:00Z'
    get:
      summary: Retrieve a specific dispatch log for a coordinator
      description: A single dispatch log for a particular dispatch coordinator is uniquely identified by the timestamp it was logged at.
      tags:
      - VPP
      responses:
        '200':
          description: Returns the dispatch log recorded at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-dispatch_coordinators-dispatch_coordinator_id-dispatch_logs-timestamp
      parameters:
      - $ref: '#/components/parameters/version-2'
      security:
      - oauth2:
        - dispatch_coordinator:read
components:
  parameters:
    user:
      name: EvEnergy-User
      description: If the client is authenticated using Client Credentials, setting EvEnergy-User to a valid user ID allows requests to be made as if you were directly authenticated as that user.
      in: header
      required: false
      schema:
        type: string
        pattern: user[A-Z\d]{26}
        example: user01HN2NJ9NMRZBXT1H6FT9N7735
    dispatch_event_id:
      name: dispatch_event_id
      in: path
      required: true
      schema:
        type: string
        example: devt01HN2NJ9NMRZBXT1H6FT9N7735
      description: The ID of the specific dispatch event.
    dispatch_coordinator_id:
      name: dispatch_coordinator_id
      in: path
      required: true
      schema:
        type: string
        example: dc000000
      description: The ID of the specific dispatch coordinator.
    evse_id:
      name: evse_id
      in: path
      required: true
      schema:
        type: string
        pattern: evse[A-Z\d]{26}
        example: evse01HSH04KDEWF6Z4DB2J77J74K5
      description: The ID of the specific EVSE to retrieve.
    version-2:
      name: EvEnergy-Version
      description: Specify the version of this endpoint to use.
      required: false
      in: header
      schema:
        type: number
        enum:
        - 2
    logged_at__lte:
      name: logged_at__lte
      in: query
      schema:
        type: string
        format: date-time
        example: '2024-04-17T09:39:45.984584Z'
      description: Filters for logs logged at or before this datetime.
    page_size:
      name: page_size
      description: Specify the number of results to return per page.
      in: query
      required: false
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
        example: 10
    logged_at__gte:
      name: logged_at__gte
      in: query
      schema:
        type: string
        format: date-time
        example: '2024-04-17T09:39:45.984584Z'
      description: Filters for logs logged at or after this datetime.
    previous:
      name: page_before
      description: Return results from the page after this ID.
      in: query
      required: false
      schema:
        type: string
        pattern: '[a-z]{4}[A-Z\d]{26}'
        example: xmpl01HNFZM7Q8FXASZXYZ6XM3TQRR
    next:
      name: page_after
      description: Return results from the page before this ID.
      in: query
      required: false
      schema:
        type: string
        pattern: '[a-z]{4}[A-Z\d]{26}'
        example: xmpl01HNFZM7Q8FXASZXYZ6XM3TQRR
    vehicle_id:
      name: vehicle_id
      in: path
      required: true
      schema:
        type: string
        pattern: vhcl[A-Z\d]{26}
        example: vhcl01HRFF3SEVSCRAV9B3CHVDFN0H
      description: The ID of the specific vehicle to retrieve.
  responses:
    Problem404NotFound:
      description: This resource either does not exist or the client is not authorized to access it.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 404
              title:
                type: string
                example: Not found
              detail:
                type: string
                example: Resource does not exist or cannot be accessed.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem400BadRequestRetrieve:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Unsupported Version:
              $ref: '#/components/examples/ProblemUnsupportedVersion'
      description: A problem with the request's parameters prevented it being fulfilled.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Example 1:
              value:
                type: https://api.ev.energy/v2/problems/rate-limit-exceeded/
                status: 429
                title: Too Many Requests
                detail: Request was rate limited. Try again in 42 seconds
      description: The client has exceeded its rate limit.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        Retry-After:
          $ref: '#/components/headers/retry-after'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
    Problem401Unauthorized:
      description: You need to authorise requests to access this resource.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 401
              title:
                type: string
                example: Unauthorized
              detail:
                type: string
                example: Authentication credentials were not provided.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem400BadRequestList:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/RFC9457ProblemDetail'
          examples:
            Invalid Pagination Parameter:
              $ref: '#/components/examples/ProblemInvalidPaginationParameter'
            Unsupported Version:
              $ref: '#/components/examples/ProblemUnsupportedVersion'
      description: A problem with the request's parameters prevented it being fulfilled.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem403Forbidden:
      description: You do not have permission to perform this action.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 403
              title:
                type: string
                example: Forbidden
              detail:
                type: string
                example: You do not have permission to perform this action.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
    Problem406NotAcceptable:
      description: Could not satisfy the request Accept header.
      content:
        application/problem+json:
          schema:
            type: object
            required:
            - title
            - detail
            properties:
              status:
                type: number
                example: 406
              title:
                type: string
                example: Not Acceptable
              detail:
                type: string
                example: Could not satisfy the request Accept header.
      headers:
        EvEnergy-Version:
          $ref: '#/components/headers/version-2'
        X-RateLimit-Limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        RetryAfter:
          $ref: '#/components/headers/retry-after'
  schemas:
    RFC9457ProblemDetail:
      title: RFC 9457 Problem Detail
      x-tags:
      - problems
      type: object
      required:
      - title
      - detail
      properties:
        type:
          type: string
          format: uri
          example: https://api.ev.energy/v2/problems/example-problem/
        status:
          type: number
          example: 400
        title:
          type: string
          example: Short description
        detail:
          type: string
          example: Long, more specific description.
        instance:
          type: string
          format: uri
          example: https://api.ev.energy/v2/users/user01HN2P75GBNFRJPCZJXEFVXH5E
        notification:
          $ref: '#/components/schemas/Notification'
      examples:
      - type: https://api.ev.energy/v2/problems/example-problem/
        status: 400
        title: Short description
        detail: Long, more specific description.
        instance: https://api.ev.energy/v2/users/user01HN2P75GBNFRJPCZJXEFVXH5E
        notification:
          id: notf01HTHKTXVB77901324BCQPF1RB
          url: https://api.ev.energy/notifications/notf01HTHKTXVB77901324BCQPF1RB
          message_id: ERR0123
          category: ACTIONABLE
          event_time: '2019-08-24T14:15:22Z'
          short_text_title: Your car is disconnected
          short_text_body: We need to reconnect to keep smart charging your car
          detail_page_title: Your car is disconnected
          detail_page_body: Your car has been disconnected. This happens when your password is reset. We need you to re-authorise ev.energy to access your account in order for us to keep managing your charging. Blah blah blah.
          external_link: http://example.com
          external_button_label: More info
          read_at: '2019-08-24T14:20:22Z'
          resolved_at: '2019-08-25T14:15:22Z'
    Notification:
      title: Notification
      description: Something that the user should be informed about.
      type: object
      examples:
      - id: notf67O36PLTFDB57M0E5L33JZLGM0
        url: https://api.ev.energy/notifications/notf67O36PLTFDB57M0E5L33JZLGM0
        message_id: ERR0123
        category: ACTIONABLE
        event_time: '2019-08-24T14:15:22Z'
        short_text_title: Your car is disconnected
        short_text_body: We need to reconnect to keep smart charging your car
        detail_page_title: Your car is disconnected
        detail_page_body: Your car has been disconnected. This happens when your password is reset. We need you to re-authorise ev.energy to access your account in order for us to keep managing your charging. Blah blah blah.
        external_link: http://example.com
        external_button_label: More info
        read_at: '2019-08-24T14:20:22Z'
        resolved_at: '2019-08-25T14:15:22Z'
      required:
      - id
      - url
      - message_id
      - category
      - event_time
      - short_text_title
      - short_text_body
      - detail_page_title
      - detail_page_body
      - external_link
      - external_button_label
      properties:
        id:
          type: string
          pattern: notf[A-Z\d]{26}
          example: notf67O36PLTFDB57M0E5L33JZLGM0
          description: Unique identifier for the Notification
        url:
          type: string
          format: uri
          example: https://api.ev.energy/notifications/notf67O36PLTFDB57M0E5L33JZLGM0
        message_id:
          type: string
          description: Internal identifier for this notification type. E.g. 'ERR0023'
        category:
          description: Category of this notification type
          enum:
          - ACTIONABLE
          - SERVICE
          - RETRY
          - MARKETING
          - INTERNAL
        event_time:
          type: string
          format: date-time
          description: The timestamp of the event described by this notification
        short_text_title:
          type: string
          description: Short title for the notification
          maxLength: 33
        short_text_body:
          type: string
          description: Short description of the event being notified
          maxLength: 49
        detail_page_title:
          type: string
          description: Title of a help page giving more information about this notification
        detail_page_body:
          type: string
          description: Text of a help page giving more information about this notification
        external_link:
          type:
          - string
          - 'null'
          description: URL of a web page giving further information about this notification
          format: uri
        external_button_label:
          type: string
          description: Text to be displayed on a button leading to the external_link location
        read_at:
          type: string
          format: date-time
          description: When the user examined the contents of this notification
        resolved_at:
          type: string
          format: date-time
          description: When the problem associated with this notification was resolved
    DispatchEventCancelResponse:
      title: DispatchEventCancelResponse
      type: object
      description: Response for a dispatch event cancellation request.
      properties:
        status:
          type: string
          enum:
          - CANCELLED
          description: The result of the cancellation request.
          example: CANCELLED
      x-tags:
      - VPP
    DispatchEvent:
      title: DispatchEvent
      type: object
      description: A dispatch event representing a VPP dispatch operation.
      properties:
        id:
          type: string
          description: Unique identifier for the dispatch event.
          example: devt01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/dispatch_coordinators/dcrd01HN2NJ9NMRZBXT1H6FT9N7735/dispatch_events/devt01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
        start_time:
          type: string
          format: date-time
          description: Start time of the dispatch event.
          example: '2025-06-15T14:00:00Z'
        end_time:
          type: string
          format: date-time
          description: End time of the dispatch event.
          example: '2025-06-15T18:00:00Z'
        import_limit_watts:
          type:
          - integer
          - 'null'
          description: Maximum import power in watts.
          example: 5000
        export_limit_watts:
          type:
          - integer
          - 'null'
          description: Maximum export power in watts.
          example: null
        target_power_watts:
          type:
          - integer
          - 'null'
          description: Target power in watts.
          example: null
        dispatch_coordinator:
          type: string
          format: uri
          description: URL of the parent dispatch coordinator.
          example: https://api.ev.energy/v2/dispatch_coordinators/dcrd01HN2NJ9NMRZBXT1H6FT9N7735
          readOnly: true
      x-tags:
      - VPP
    VPPModes:
      title: VPPModes
      type: object
      description: VPP (Virtual Power Plant) mode capabilities indicating which control modes are supported by the resource.
      required:
      - target_power
      - import_max_power
      - export_max_power
      - charge_mode
      properties:
        target_power:
          type: boolean
          description: Whether target power control mode is supported.
          readOnly: true
          example: true
        import_max_power:
          type: boolean
          description: Whether import maximum power control mode is supported.
          readOnly: true
          example: true
        export_max_power:
          type: boolean
          description: Whether export maximum power control mode is supported.
          readOnly: true
          example: false
        charge_mode:
          type: boolean
          description: Whether charge mode control is supported.
          readOnly: true
          example: true
      examples:
      - target_power: true
        import_max_power: true
        export_max_power: false
        charge_mode: true
    DispatchCoordinator:
      title: DispatchCoordinator
      type: object
      description: A resource representing a dispatch coordinator.
      properties:
        id:
          type: string
          description: Unique identifier for the dispatch coordinator.
          example: dc000000
          readOnly: true
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/dispatch_coordinators/dc000000
          readOnly: true
        name:
          type: string
          description: The name of the dispatch coordinator.
          example: Acme Energy
          readOnly: true
        reference_code:
          type: string
          description: The reference code for the dispatch coordinator.
          example: ACME-001
          readOnly: true
        contract_start:
          type:
          - string
          - 'null'
          format: date-time
          description: The start date of the contract.
          example: '2026-01-01T00:00:00Z'
          readOnly: true
        contract_end:
          type:
          - string
          - 'null'
          format: date-time
          description: The end date of the contract.
          example: '2027-01-01T00:00:00Z'
          readOnly: true
        timezone:
          type: string
          description: The timezone of the dispatch coordinator.
          example: America/New_York
          readOnly: true
        dispatch_logs:
          type: string
          format: uri
          description: Link to the dispatch logs for this coordinator.
          example: https://api.ev.energy/v2/dispatch_coordinators/dc000000/dispatch_logs
          readOnly: true
      x-tags:
      - VPP
    DispatchLog:
      title: DispatchLog
      type: object
      description: A log entry recording the aggregate fleet charging power for a dispatch coordinator at a point in time.
      properties:
        url:
          type: string
          format: uri
          example: https://api.ev.energy/v2/dispatch_coordinators/dc000000/dispatch_logs/2025-03-01T10:00:00Z/
          readOnly: true
        logged_at:
          type: string
          format: date-time
          description: When this log record was created.
          example: '2025-03-01T10:00:00Z'
          readOnly: true
        total_charge_rate_watts:
          type: integer
          description: The aggregate charging power of the fleet in watts.
          example: 7000
          readOnly: true
        dispatch_coordinator:
          type: string
          format: uri
          description: Link to the parent dispatch coordinator.
          example: https://api.ev.energy/v2/dispatch_coordinators/dc000000
          readOnly: true
      x-tags:
      - VPP
    DispatchEventWrite:
      title: DispatchEventWrite
      type: object
      description: Request body for creating a dispatch event.
      required:
      - start_time
      - end_time
      properties:
        start_time:
          type: string
          format: date-time
          description: Start time of the dispatch event.
          example: '2025-06-15T14:00:00Z'
        end_time:
          type: string
          format: date-time
          description: End time of the dispatch event.
          example: '2025-06-15T18:00:00Z'
        import_limit_watts:
          type:
          - integer
          - 'null'
          description: Maximum import power in watts.
          example: 5000
        export_limit_watts:
          type:
          - integer
          - 'null'
          description: Maximum export power in watts.
          example: null
        target_power_watts:
          type:
          - integer
          - 'null'
          description: Target power in watts.
          example: null
      x-tags:
      - VPP
  headers:
    link:
      description: Provides links to the previous and next pages of data, if they exist.
      example: <https://api.ev.energy/v2/vehicles?page_size=25&page_before=vhcl01HRFF3SEVSCRAV9B3CHVDFN0H>; rel="previous", <https://api.ev.energy/v2/vehicles?page_size=25&page_after=vhcl01HRFF3SEVSCRAV9B3CHVDFN0H>; rel="next"
      schema:
        type: string
    x-ratelimit-remaining:
      description: The number of requests remaining until this client's rate limit is reached.
      schema:
        type: number
        default: 999
    version-2:
      description: Indicates the version of the API that generated this response. If EvEnergy-Version was not specified in the request, this will be your OAuth application's default version.
      schema:
        type: number
        enum:
        - 2
    retry-after:
      description: The number of seconds until this client's requests will not be rate limited.
      schema:
        type: number
        default: 3600
    x-ratelimit-limit:
      description: The maximum number of requests that can be made to this endpoint per hour. Defaults to 1000 but may vary per client.
      schema:
        type: number
        default: 1000
    link-timestamps:
      description: Provides links to the previous and next pages of data, if they exist.
      example: <https://api.ev.energy/v2/vehicles?page_size=25&page_before=2024-04-18T08:53:52.225655Z>; rel="previous", <https://api.ev.energy/v2/vehicles?page_size=25&page_after=2024-04-18T08:53:52.225655Z>; rel="next"
      schema:
        type: string
  examples:
    ProblemInvalidPaginationParameter:
      value:
        type: https://api.ev.energy/v2/problems/pagination-parameters/
        status: 400
        title: Invalid pagination parameter
        detail: 'Invalid value for pagination parameter: page_size'
    ProblemUnsupportedVersion:
      value:
        type: https://api.ev.energy/v2/problems/pagination-parameters/
        status: 400
        title: Unsupported version
        detail: 'Unsupported version requested: 3.0'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.ev.energy/o/token/
          refreshUrl: https://api.ev.energy/o/token/
          scopes:
            carbon:read: ''
            grid:read: ''
            evse:read: ''
            evse:write: ''
            vehicle:read: ''
            user:read: ''
            charging_session:read: ''
            tariff:read: ''
            tariff:prices:read: ''
            user:write: ''
            inverter:read: ''
            inverter:write: ''
            home_battery:read: ''
            home_energy:read: ''
            boundary_meter:read: ''
            vehicle:write: ''
            vehicle_catalogue:write: Update shared vehicle-catalogue reference data (e.g. a model's default connector type)
            charging_session:write: ''
            solar:write: ''
            solar:read: ''
            subscription:read: ''
            debug:read: ''
            dispatch_coordinator:read: ''
            dispatch_event:write: ''
            solar_forecast:read: ''
            payout_method:read: Read a user's preferred payout method
            payout_method:write: Set, update, or clear a user's preferred payout method
            notification_preferences:read: Read a user's notification group opt-in state
            notification_preferences:write: Update a user's notification group opt-in state
            route_planner_preferences:read: Read a user's EV Route Planner preferences
            route_planner_preferences:write: Update a user's EV Route Planner preferences
            saved_routes:read: Read a user's saved route-planner routes
            saved_routes:write: Create, update, or delete a user's saved routes
            region:read: Read region and region group boundary data
            region:write: Create regions and region groups
        authorizationCode:
          authorizationUrl: https://api.ev.energy/o/authorize/
          tokenUrl: https://api.ev.energy/o/token/
          refreshUrl: https://api.ev.energy/o/token/
          scopes: {}
x-redocly:
  openapi:
    hideSchemaTitles: true
x-internal: false
