openapi: 3.1.0
x-redocly:
  openapi:
    hideSchemaTitles: true
info:
  title: ev.energy v2 API
  version: '2.0'
  contact:
    email: developers@ev.energy
    url: developers.ev.energy
    name: ev.energy developers
  description: The official API for ev.energy, version 2.
  license:
    name: Proprietary
    url: https://ev.energy
  termsOfService: ''
servers:
  - url: https://api.ev.energy/v2
    description: Live API for both production and sandbox requests.
    x-internal: false
  - description: Staging server for internal testing only.
    url: https://api-staging.ev.energy/v2
    x-internal: true
paths:
  /:
    get:
      summary: API root
      description: Get links to resources accessible in the API.
      operationId: get-root
      responses:
        '200':
          description: Returns a list of all top-level collection URLs in the API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: string
                    format: uri
                  carbon_feeds:
                    type: string
                    format: uri
                  evses:
                    type: string
                    format: uri
                  evse_models:
                    type: string
                    format: uri
                  evse_makes:
                    type: string
                    format: uri
                  vehicles:
                    type: string
                    format: uri
                  vehicle_trims:
                    type: string
                    format: uri
                  vehicle_models:
                    type: string
                    format: uri
                  vehicle_makes:
                    type: string
                    format: uri
                  suppliers:
                    type: string
                    format: uri
                  tariffs:
                    type: string
                    format: uri
                  support_tickets:
                    type: string
                    format: uri
                  dispatch_coordinators:
                    type: string
                    format: uri
                  grid_feeds:
                    type: string
                    format: uri
              examples:
                Example:
                  value:
                    users: https://api.ev.energy/v2/users/
                    carbon_feeds: https://api.ev.energy/v2/carbon_feeds/
                    evses: https://api.ev.energy/v2/evses/
                    evse_models: https://api.ev.energy/v2/evse_models/
                    evse_makes: https://api.ev.energy/v2/evse_makes/
                    vehicles: https://api.ev.energy/v2/vehicles/
                    vehicle_trims: https://api.ev.energy/v2/vehicle_trims/
                    vehicle_models: https://api.ev.energy/v2/vehicle_models/
                    vehicle_makes: https://api.ev.energy/v2/vehicle_makes/
                    suppliers: https://api.ev.energy/v2/suppliers/
                    tariffs: https://api.ev.energy/v2/tariffs/
                    support_tickets: https://api.ev.energy/v2/support_tickets/
                    dispatch_coordinators: https://api.ev.energy/v2/dispatch_coordinators/
                    grid_feeds: https://api.ev.energy/v2/grid_feeds/
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      security: []
      parameters:
        - $ref: '#/components/parameters/version-2'
      tags:
        - Root
  /users:
    get:
      summary: List users
      tags:
        - Users
      responses:
        '200':
          description: Returns a list of Users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-users
      description: List all the users that the authorization token has access to.
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/expand-on-user'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/user'
      security:
        - oauth2:
            - user:read
    post:
      summary: Create user
      tags:
        - Users
      responses:
        '201':
          description: User Created Successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-users
      security:
        - oauth2:
            - user:write
      description: Create an individual user in the ev.energy system.
      parameters:
        - $ref: '#/components/parameters/version-2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
  /users/{user_id}:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      summary: Retrieve user
      description: Retrieve information about a single, specific user.
      tags:
        - Users
      responses:
        '200':
          description: Returns a single User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-users-user_id
      parameters:
        - $ref: '#/components/parameters/expand-on-user'
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - user:read
    patch:
      summary: Update User
      tags:
        - Users
      responses:
        '200':
          description: User updated successfully.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-users-user_id
      security:
        - oauth2:
            - user:write
      description: Update user information.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-user'
  /users/{user_id}/notification_preferences:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      summary: Retrieve user notification preferences
      description: >-
        Retrieve the set of notification groups the user is currently subscribed
        to.
      tags:
        - Users
      responses:
        '200':
          description: Returns the user's notification preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotificationPreferences'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-users-user_id-notification_preferences
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - notification_preferences:read
    patch:
      summary: Update user notification preferences
      description: |-
        Update the user's notification group opt-in state.

        The `groups` object is treated as a partial map: only the keys you
        include are modified. Keys you omit are left untouched. This means
        clients only need to send the groups they want to change, and adding
        new groups to the API in the future cannot accidentally clobber an
        old client's silence on them.

        `PATCH {}` and `PATCH {"groups": {}}` are valid no-ops. Unknown group
        names produce a `400`.
      tags:
        - Users
      responses:
        '200':
          description: Notification preferences updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotificationPreferences'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: >-
            #/components/responses/Problem400UpdateNotificationPreferencesValidationFailed
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-users-user_id-notification_preferences
      security:
        - oauth2:
            - notification_preferences:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserNotificationPreferences'
      parameters:
        - $ref: '#/components/parameters/version-2'
  /users/{user_id}/route_planner_preferences:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      summary: Retrieve route planner preferences
      description: |-
        Retrieve the user's EV Route Planner preferences (default vehicle,
        en-route minimum charger power, and default arrival battery floor).

        A preferences row is created with defaults on first access, so this
        never 404s for an existing, accessible user.
      tags:
        - Users
      operationId: get-users-user_id-route_planner_preferences
      responses:
        '200':
          description: Returns the user's route planner preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutePlannerPreferences'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - route_planner_preferences:read
    patch:
      summary: Update route planner preferences
      description: |-
        Update the user's EV Route Planner preferences.

        The body is treated as a partial map: only the keys you include are
        modified, omitted keys are left untouched. `PATCH {}` is a valid no-op.
        `preferred_vehicle` accepts a vehicle URL or `null`;
        `min_charger_power_watts` accepts one of
        `22000, 50000, 100000, 150000, 250000` or `null`.
      tags:
        - Users
      operationId: patch-users-user_id-route_planner_preferences
      responses:
        '200':
          description: Route planner preferences updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutePlannerPreferences'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: >-
            #/components/responses/Problem400UpdateRoutePlannerPreferencesValidationFailed
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      security:
        - oauth2:
            - route_planner_preferences:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoutePlannerPreferencesUpdate'
      parameters:
        - $ref: '#/components/parameters/version-2'
  /vehicles/{vehicle_id}/connectors:
    parameters:
      - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Retrieve a vehicle's charging connectors
      description: |-
        Retrieve the vehicle's DC-fast charging connectors: its native plug and
        any adapters it carries. `native_connector` is the per-vehicle value,
        falling back to the vehicle model's default when not overridden (both
        may be null when not yet known).
      tags:
        - Vehicles
      responses:
        '200':
          description: Returns the vehicle's connector configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleConnectors'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-connectors
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - vehicle:read
    patch:
      summary: Update a vehicle's charging connectors
      description: |-
        Update the vehicle's connectors. The body is a partial map: only the
        keys you include are changed. Set `native_connector` to override the
        model default for this vehicle, or `null` to inherit it. `adaptors`
        replaces the adapter list (send `[]` to clear); adaptors must be
        distinct and must not include the native connector. `PATCH {}` is a
        valid no-op.
      tags:
        - Vehicles
      responses:
        '200':
          description: Connectors updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleConnectors'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: >-
            #/components/responses/Problem400UpdateVehicleConnectorsValidationFailed
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-vehicles-vehicle_id-connectors
      security:
        - oauth2:
            - vehicle:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleConnectorsUpdate'
      parameters:
        - $ref: '#/components/parameters/version-2'
  /vehicles/{vehicle_id}/state_of_charge:
    parameters:
      - $ref: '#/components/parameters/vehicle_id'
    get:
      summary: Retrieve a vehicle's current state of charge
      description: |-
        Retrieve the vehicle's current battery percentage used to seed route
        plans. `source` indicates where the value came from: `MANUAL` when the
        driver entered it, or `CONNECTED` when it comes from the vehicle's
        telemetry. All fields are null when no value is available.
      tags:
        - Vehicles
      responses:
        '200':
          description: Returns the vehicle's current state of charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStateOfCharge'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-vehicles-vehicle_id-state_of_charge
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - vehicle:read
    patch:
      summary: Update a vehicle's current state of charge
      description: |-
        Set the vehicle's current battery percentage (Mode-1 manual entry). The
        body is a partial map: `PATCH {}` is a valid no-op. Send
        `state_of_charge_percentage: null` to clear it. `source` is read-only.
      tags:
        - Vehicles
      responses:
        '200':
          description: State of charge updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStateOfCharge'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: >-
            #/components/responses/Problem400UpdateVehicleStateOfChargeValidationFailed
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-vehicles-vehicle_id-state_of_charge
      security:
        - oauth2:
            - vehicle:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleStateOfChargeUpdate'
      parameters:
        - $ref: '#/components/parameters/version-2'
  /auth/password_reset:
    post:
      summary: Request a password reset email
      description: |-
        Request a password reset email for the account with the supplied
        email address. The response status and body are identical whether
        or not an account exists for the email; clients must not treat the
        success response as confirmation that an account exists.
      tags:
        - Auth
      operationId: post-auth-password_reset
      security: []
      parameters:
        - $ref: '#/components/parameters/version-2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Reset email request accepted.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetResult'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '422':
          $ref: '#/components/responses/Problem422PasswordResetValidationFailed'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
  /evse_compatibility/check:
    get:
      summary: Check EVSE model compatibility in a country
      description: |-
        Returns whether the given `EVSEModel` is supported in the supplied
        country, and whether the support is `beta` (early-access) or live.
        Used by the onboarding flow to tell the user upfront whether their
        hardware will work before any account-linking step.

        Public endpoint — callable pre-account, no authentication required.

        Country resolution follows this order: explicit `country` query
        parameter, then the `Accept-Language` header, then `US`.

        When `program_id` is supplied, program membership is applied as an
        additional filter on top of the global compatibility check: the
        model must be in the program's `supported_evse_models` list AND
        pass the global region + `EvseCompatibility` check. Region is
        derived from the program's country, so the `country` query
        parameter and `Accept-Language` header are ignored in that case.

        Error responses follow RFC 9457 Problem Details. Problem types
        emitted by this endpoint:

        - `validation-failed-evse-compatibility-check` — missing or
          invalid `evse_model_id` / `country` query parameter (`400`).
        - `evse-model-not-found` — `evse_model_id` does not resolve to
          an `EVSEModel` (`404`).
        - `program-not-found` — `program_id` does not resolve to a
          program (`404`).
      tags:
        - EVSEs
      operationId: get-evse_compatibility-check
      parameters:
        - $ref: '#/components/parameters/version-2'
        - name: evse_model_id
          in: query
          required: true
          description: '`EVSEModel.uid` to check compatibility for.'
          schema:
            type: string
            pattern: emod[A-Z\d]{26}
        - name: country
          in: query
          required: false
          description: ISO-3166 alpha-2 country code. See description for fallback chain.
          schema:
            type: string
            pattern: ^[A-Za-z]{2}$
            minLength: 2
            maxLength: 2
        - $ref: '#/components/parameters/Accept-Language'
        - name: client_id
          in: query
          required: false
          description: |-
            OAuth `Application.client_id`. Mirrors the pre-account
            onboarding endpoints: when supplied and the application has
            sandbox mode enabled, the endpoint returns a canned response
            without touching the database.
          schema:
            type: string
        - name: program_id
          in: query
          required: false
          description: |-
            Program uid. When supplied, the model must be in the
            program's `supported_evse_models` list AND pass the global
            region + `EvseCompatibility` check. Region is derived from
            the program's country; `country` and `Accept-Language` are
            ignored in that case. Omit for the core app's pre-account
            flow where the program is not yet known.
          schema:
            type: string
            pattern: prog[A-Z\d]{26}
      responses:
        '200':
          description: Compatibility verdict for the supplied model and country.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSECompatibilityCheckResult'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
      security: []
  /users/{user_id}/payout_method:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      summary: Retrieve payout method
      description: |
        Retrieve the user's preferred payout method. Returns null fields when
        the user has not set up a payout method.
      tags:
        - Users
      operationId: get-users-user_id-payout-method
      responses:
        '200':
          description: Returns the user's payout method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutMethod'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - payout_method:read
    patch:
      summary: Update payout method
      description: |
        Create or update the user's preferred payout method. The request must
        always include `receiver_wallet`. For `PAYPAL` and `VENMO` the
        client must also supply `receiver` (an email or phone respectively).
        For `BILL_CREDITS` the `receiver` must not be supplied — it is
        derived server-side from the user's linked billing account.
      tags:
        - Users
      operationId: patch-users-user_id-payout-method
      responses:
        '200':
          description: Payout method updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutMethod'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400UpdatePayoutMethodValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutMethodUpdate'
      security:
        - oauth2:
            - payout_method:write
    delete:
      summary: Delete payout method
      description: |
        Clear the user's preferred payout method. The user's stored
        ``UserPayoutMethod`` records are not removed; only the
        ``preferred_payout_method`` link on the user is cleared. Returns 204
        even when the user already has no payout method set (no-op).
      tags:
        - Users
      operationId: delete-users-user_id-payout-method
      responses:
        '204':
          description: Payout method cleared.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - payout_method:write
  /users/{user_id}/saved_routes:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      summary: List saved routes
      description: |
        List the user's saved route-planner routes. A saved route is a reusable
        "recipe" — origin, destination, waypoints and planning preferences — not
        a stored charging plan; the plan is recalculated on each re-plan.
      tags:
        - Users
      operationId: get-users-user_id-saved_routes
      responses:
        '200':
          description: Returns the user's saved routes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedRoute'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
      security:
        - oauth2:
            - saved_routes:read
    post:
      summary: Create a saved route
      description: |
        Create a new saved route for the user. The route is owned by the user
        named in the path; `id`, `url`, `user` and `created_at` are assigned by
        the server. `last_used_at` defaults to now when omitted.

        A user may save at most 50 routes; exceeding this returns a `400`.
      tags:
        - Users
      operationId: post-users-user_id-saved_routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedRouteCreate'
      responses:
        '201':
          description: The saved route was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedRoute'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400SavedRouteValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - saved_routes:write
  /users/{user_id}/saved_routes/{saved_route_id}:
    parameters:
      - $ref: '#/components/parameters/user_id'
      - $ref: '#/components/parameters/saved_route_id'
    get:
      summary: Retrieve a saved route
      tags:
        - Users
      operationId: get-users-user_id-saved_routes-saved_route_id
      responses:
        '200':
          description: Returns the saved route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedRoute'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - saved_routes:read
    patch:
      summary: Update a saved route
      description: |
        Partially update a saved route: rename it, toggle `favourite`, bump
        `last_used_at` after a re-plan, or edit the endpoints. Only the fields
        supplied are changed.
      tags:
        - Users
      operationId: patch-users-user_id-saved_routes-saved_route_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedRoutePatch'
      responses:
        '200':
          description: The saved route was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedRoute'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400SavedRouteValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - saved_routes:write
    delete:
      summary: Delete a saved route
      tags:
        - Users
      operationId: delete-users-user_id-saved_routes-saved_route_id
      responses:
        '204':
          description: The saved route was deleted.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '405':
          $ref: '#/components/responses/Problem405MethodNotAllowed'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - saved_routes:write
  /evses:
    get:
      summary: List EVSEs
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns a list of EVSEs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSE'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/expand-on-evse'
        - $ref: '#/components/parameters/cpid'
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/user'
      description: List all the EVSEs that the authorization token has access to.
      security:
        - oauth2:
            - evse:read
  /evses/{evse_id}:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: Retrieve an EVSE
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns a single EVSE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSE'
              examples:
                Example 1:
                  value:
                    id: evse01HSH04KDEWF6Z4DB2J77J74K5
                    url: >-
                      https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5
                    model:
                      id: emod01HS9A004X5TB5JCMHENB5Z446
                      name: EVWC2S22
                      make:
                        id: emak01HS8FRXKJD5JZZ7ZN6W8H21P8
                        name: BG SyncEV
                    user: >-
                      https://api.ev.energy/v2/users/user01HN2NJ9NMRZBXT1H6FT9N7735
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id
      parameters:
        - $ref: '#/components/parameters/expand-on-evse'
        - $ref: '#/components/parameters/version-2'
      description: Retrieve a single, specific EVSE's details.
      security:
        - oauth2:
            - evse:read
    patch:
      summary: Update an EVSE
      tags:
        - EVSEs
      responses:
        '200':
          description: EVSE updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSE'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400UpdateEVSEValidationFailed'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: patch-evses-evse_id
      parameters:
        - $ref: '#/components/parameters/expand-on-evse'
        - $ref: '#/components/parameters/version-2'
      description: >-
        Update an EVSE. Only the EVSE's `location` may be changed via this
        endpoint; all other fields are read-only.


        A `400` is returned when the request body fails validation (for example
        a non-numeric, non-finite or out-of-range coordinate), with the
        offending fields listed under `field_errors`.
      security:
        - oauth2:
            - evse:write
      requestBody:
        description: The EVSE fields to update.
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type:
                    - object
                    - 'null'
                  properties:
                    latitude:
                      type: number
                      format: double
                      example: 51.5074
                    longitude:
                      type: number
                      format: double
                      example: -0.1278
                  required:
                    - latitude
                    - longitude
                  description: >-
                    The geographic location of the EVSE as a latitude/longitude
                    point. Send `null` to clear it.
    delete:
      summary: Decommission an EVSE
      tags:
        - EVSEs
      responses:
        '204':
          description: The EVSE has been decommissioned successfully.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: delete-evses-evse_id
      parameters:
        - $ref: '#/components/parameters/version-2'
      description: Decommission the EVSE by disconnecting it from the ev.energy system.
      security:
        - oauth2:
            - evse:write
  /evse_models:
    get:
      summary: List EVSE models
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns a list of EVSE models.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEModel'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_models
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/expand-on-evsemodel'
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/available_for_user_id'
        - $ref: '#/components/parameters/user'
        - $ref: '#/components/parameters/evse_make_id_q'
      description: |-
        List all the EVSE models known by the ev.energy system.

        Anonymous callers are rate limited to 50 requests per hour per IP.
      security: []
  /evse_models/{evse_model_id}:
    get:
      summary: Retrieve an EVSE model
      tags:
        - EVSEs
      responses:
        '200':
          description: Return a single EVSE model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEModel'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_models-evse_model_id
      parameters:
        - $ref: '#/components/parameters/expand-on-evsemodel'
        - $ref: '#/components/parameters/version-2'
      description: |-
        Retrieve details for a single, specific EVSE model.

        Anonymous callers are rate limited to 50 requests per hour per IP.
      security: []
    parameters:
      - $ref: '#/components/parameters/evse_model_id'
  /evse_makes:
    get:
      summary: List EVSE makes
      tags:
        - EVSEs
      responses:
        '200':
          description: Return a list of EVSE Makes.
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEMake'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_makes
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/available_for_user_id'
        - $ref: '#/components/parameters/user'
      description: |-
        List all the EVSE makes known by the ev.energy system.

        Anonymous callers are rate limited to 50 requests per hour per IP.
      security: []
    parameters: []
  /evse_makes/{evse_make_id}:
    parameters:
      - $ref: '#/components/parameters/evse_make_id'
    get:
      summary: Retrieve an EVSE make
      tags:
        - EVSEs
      responses:
        '200':
          description: Return a single EVSE make.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEMake'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_makes-evse_make_id
      parameters:
        - $ref: '#/components/parameters/version-2'
      description: |-
        Retrieve details for a single, specific EVSE make.

        Anonymous callers are rate limited to 50 requests per hour per IP.
      security: []
  /evses/{evse_id}/status_logs:
    get:
      summary: List status logs for an EVSE
      description: >-
        List the historical status logs for a specific EVSE. Used to find out
        the state of the EVSE at each point it reported in to ev.energy.
      tags:
        - EVSEs
      responses:
        '200':
          description: List all status logs for a specific EVSE, sorted newest first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEStatusLog'
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-status_logs
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sampled_at__gte'
        - $ref: '#/components/parameters/sampled_at__lte'
        - $ref: '#/components/parameters/expand-on-evsestatuslog'
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:read
    parameters:
      - $ref: '#/components/parameters/evse_id'
  /evses/{evse_id}/status_logs/{sampled_at}:
    parameters:
      - $ref: '#/components/parameters/evse_id'
      - schema:
          type: string
          format: date-time
        name: sampled_at
        in: path
        required: true
        description: The time the log's data was recorded on the device.
        example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a status log for an EVSE
      description: >-
        An EVSE status log is uniquely identified by the combination of EVSE ID
        and the time it was sampled at.
      tags:
        - EVSEs
      responses:
        '200':
          description: Retrieve a single status log for a specific EVSE.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEStatusLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-status_logs-timestamp
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-evsestatuslog'
      security:
        - oauth2:
            - evse:read
  /evses/{evse_id}/command_logs:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: List command logs for an EVSE
      description: >-
        List the historical command logs for a specific EVSE. These logs record
        commands that were sent to the EVSE.
      tags:
        - EVSEs
      responses:
        '200':
          description: List all command logs for a specific EVSE, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSECommandLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-command_logs
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/logged_at__gte'
        - $ref: '#/components/parameters/logged_at__lte'
        - $ref: '#/components/parameters/expand-on-evsecommandlog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/command_logs/{logged_at}:
    parameters:
      - $ref: '#/components/parameters/evse_id'
      - schema:
          type: string
          format: date-time
        name: logged_at
        in: path
        required: true
        description: The time the command was logged.
        example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a command log for an EVSE
      description: >-
        An EVSE command log is uniquely identified by the combination of EVSE ID
        and the time it was logged at.
      tags:
        - EVSEs
      responses:
        '200':
          description: Retrieve a single command log for a specific EVSE.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSECommandLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-command_logs-timestamp
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-evsecommandlog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/error_logs:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: List API error logs for an EVSE
      description: >-
        List the historical API error logs for a specific EVSE. These logs
        capture errors that occurred when attempting to communicate with the
        EVSE's hardware API.
      tags:
        - EVSEs
      responses:
        '200':
          description: List all API error logs for a specific EVSE, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEAPIErrorLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-error_logs
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sampled_at__gte'
        - $ref: '#/components/parameters/sampled_at__lte'
        - $ref: '#/components/parameters/expand-on-evseerrorlog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/error_logs/{sampled_at}:
    parameters:
      - $ref: '#/components/parameters/evse_id'
      - schema:
          type: string
          format: date-time
        name: sampled_at
        in: path
        required: true
        description: The time the error was sampled.
        example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a specific API error log for an EVSE
      description: >-
        A single API error log for a particular EVSE is uniquely identified by
        the timestamp it was sampled at.
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns the EVSE API error logged at a specific time.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEAPIErrorLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-error_logs-timestamp
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-evseerrorlog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/ocpp_logs:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: List OCPP logs for an EVSE
      description: >-
        List the historical OCPP message logs for a specific EVSE. These logs
        record OCPP messages sent to or received from the charger.
      tags:
        - EVSEs
      responses:
        '200':
          description: List all OCPP logs for a specific EVSE, sorted newest first.
          headers:
            Link:
              $ref: '#/components/headers/link-timestamps'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEOCPPLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-ocpp_logs
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sampled_at__gte'
        - $ref: '#/components/parameters/sampled_at__lte'
        - $ref: '#/components/parameters/ocpp-action'
        - $ref: '#/components/parameters/ocpp-action__in'
        - $ref: '#/components/parameters/ocpp-direction'
        - $ref: '#/components/parameters/ocpp-error_code'
        - $ref: '#/components/parameters/ocpp-error_code__in'
        - $ref: '#/components/parameters/expand-on-evseocpplog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/ocpp_logs/{sampled_at}:
    parameters:
      - $ref: '#/components/parameters/evse_id'
      - schema:
          type: string
          format: date-time
        name: sampled_at
        in: path
        required: true
        description: The time the OCPP message was recorded.
        example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve an OCPP log for an EVSE
      description: >-
        An EVSE OCPP log is uniquely identified by the combination of EVSE ID
        and the time it was sampled at.
      tags:
        - EVSEs
      responses:
        '200':
          description: Retrieve a single OCPP log for a specific EVSE.
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEOCPPLog'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-ocpp_logs-timestamp
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-evseocpplog'
      security:
        - oauth2:
            - debug:read
  /evses/{evse_id}/vpp_modes:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: Get VPP modes for an EVSE
      description: >-
        Returns the VPP (Virtual Power Plant) control modes supported by this
        EVSE.
      tags:
        - EVSEs
        - VPP
      responses:
        '200':
          description: Returns the VPP modes supported by this EVSE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPPModes'
              examples:
                EVSE VPP Modes:
                  value:
                    target_power: true
                    import_max_power: true
                    export_max_power: false
                    charge_mode: true
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-vpp_modes
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:read
  /evses/{evse_id}/connectivity:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    get:
      summary: Get connectivity information for an EVSE
      description: >-
        Returns a snapshot of the EVSE's connectivity metrics including signal
        strength, SIM data, firmware version, and connection reliability.
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns the connectivity information for this EVSE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEConnectivity'
              examples:
                EVSE Connectivity:
                  value:
                    signal_strength_rssi_dbm: -65
                    lowest_signal_strength_rssi_dbm_7d: -89
                    highest_signal_strength_rssi_dbm_7d: -57
                    connection_reliability_30d: 97
                    ip_address: 10.193.28.42
                    iccid: '8944110000001234567'
                    firmware_version: 1.2.3
                    latest_status_log: >-
                      https://api.ev.energy/v2/evses/evse01HSH04KDEWF6Z4DB2J77J74K5/status_logs/2024-04-17T09:39:45.984584Z/
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evses-evse_id-connectivity
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/expand-on-evse-connectivity'
      security:
        - oauth2:
            - evse:read
  /ct_clamps:
    get:
      summary: List CT Clamps
      tags:
        - CT Clamps
      responses:
        '200':
          description: Returns a list of CT clamps.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CTClamp'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-ct-clamps
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/expand-on-ctclamp'
        - $ref: '#/components/parameters/version-2'
      description: List all CT clamps that the authorization token has access to.
      security:
        - oauth2:
            - evse:read
  /ct_clamps/{ct_clamp_id}:
    parameters:
      - $ref: '#/components/parameters/ct_clamp_id'
    get:
      summary: Retrieve a CT Clamp
      tags:
        - CT Clamps
      responses:
        '200':
          description: Returns a single CT clamp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CTClamp'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-ct-clamps-ct_clamp_id
      parameters:
        - $ref: '#/components/parameters/expand-on-ctclamp'
        - $ref: '#/components/parameters/version-2'
      description: Retrieve a single CT clamp's details.
      security:
        - oauth2:
            - evse:read
  /ct_clamps/{ct_clamp_id}/logs:
    parameters:
      - $ref: '#/components/parameters/ct_clamp_id'
    get:
      summary: List logs for a CT Clamp
      description: List the historical current measurement logs for a specific CT clamp.
      tags:
        - CT Clamps
      responses:
        '200':
          description: Returns a list of CT clamp logs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CTClampLog'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-ct-clamps-ct_clamp_id-logs
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sampled_at__gte'
        - $ref: '#/components/parameters/sampled_at__lte'
        - $ref: '#/components/parameters/expand-on-ctclamplog'
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:read
  /ct_clamps/{ct_clamp_id}/logs/{sampled_at}:
    parameters:
      - $ref: '#/components/parameters/ct_clamp_id'
      - schema:
          type: string
          format: date-time
        name: sampled_at
        in: path
        required: true
        description: The time the log's data was recorded on the device.
        example: '2024-04-17T09:39:45.984584Z'
    get:
      summary: Retrieve a log for a CT Clamp
      tags:
        - CT Clamps
      responses:
        '200':
          description: Returns a single CT clamp log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CTClampLog'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-ct-clamps-ct_clamp_id-logs-sampled_at
      parameters:
        - $ref: '#/components/parameters/expand-on-ctclamplog'
        - $ref: '#/components/parameters/version-2'
      description: Retrieve a single CT clamp log entry.
      security:
        - oauth2:
            - evse:read
  /evses/{evse_id}/reconnect:
    parameters:
      - $ref: '#/components/parameters/evse_id'
    post:
      summary: Create EVSE reconnection URL
      tags:
        - EVSEs
      responses:
        '201':
          description: Returns the newly generated reconnection URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEReconnectionUrl'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestCreate'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-evses-evse_id-reconnect
      x-stoplight:
        id: evse-reconnect-endpoint
      description: >-
        Create a reconnection request URL for the EVSE. The EVSE must have a
        user assigned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EVSEReconnectionUrl'
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:write
  /evse_firmware_versions:
    get:
      summary: List EVSE firmware versions
      description: |-
        List EVSE firmware versions available in the catalogue. Only firmware
        versions flagged as production releases are returned.
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns a list of EVSE firmware versions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EVSEFirmwareVersion'
          headers:
            Link:
              $ref: '#/components/headers/link'
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestList'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_firmware_versions
      parameters:
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:read
  /evse_firmware_versions/{evse_firmware_version_id}:
    parameters:
      - $ref: '#/components/parameters/evse_firmware_version_id'
    get:
      summary: Retrieve an EVSE firmware version
      description: Retrieve a single EVSE firmware version by ID.
      tags:
        - EVSEs
      responses:
        '200':
          description: Returns an EVSE firmware version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEFirmwareVersion'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: get-evse_firmware_versions-evse_firmware_version_id
      parameters:
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:read
  /evse_onboarding:
    get:
      summary: Initiate EVSE onboarding
      tags:
        - EVSEs
      responses:
        '200':
          description: >-
            Returned only when `response_type=json` is supplied. Carries an
            absolute URL to the EVSE onboarding wrapper that the client opens in
            a WebView (mobile) or redirects the browser to (web). The wrapper
            view either redirects to the provider (when a model was supplied) or
            shows the make picker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSEOnboardingJsonResponse'
        '302':
          description: >-
            Have the user's browser follow the redirect to be prompted to
            connect their EVSE to the ev.energy system.


            If a make or model were not provided, the user will first be
            redirected to a screen to select these.
          headers:
            Location:
              schema:
                type: string
              description: >-
                The URL that the users browser will be redirected to in order to
                integrate their EVSE.
        '400':
          $ref: '#/components/responses/Problem400BadRequestRetrieve'
        '404':
          $ref: '#/components/responses/Problem404NotFound'
      operationId: get-evse_onboarding
      description: >-
        Initiate the onboarding process for a new EVSE in your user's browser
        (or an embedded web view in an app).


        If neither `make_id` or `model_id` are passed as query parameters, the
        user will be shown a user interface to pick their EVSE make.


        ## Native clients (`response_type=json`)


        Native mobile clients that need to open the onboarding URL in a WebView
        (rather than follow a 302 redirect) can pass `response_type=json` to
        receive a JSON payload instead. In that case at least one of `make_id`
        or `model_id` is required (otherwise the endpoint responds with `400`).


        ## Final redirect


        After the user completes the web flow, the browser is redirected to the
        `redirect_uri` query parameter (when supplied and valid) or otherwise
        the `onboarding_redirect_url` configured on your application. The
        redirect URL will carry two query parameters identifying the onboarded
        EVSE:


        - `evse_uid` — the v2 UID of the onboarded EVSE (preferred). Use this to
        call `GET /v2/evses/{evse_uid}` for further details.

        - `evse_id` — the legacy integer primary key. Prefer `evse_uid`.


        Example: `https://your-redirect/?evse_id=123&evse_uid=evse01...`.
      parameters:
        - $ref: '#/components/parameters/user_id_onboarding'
        - schema:
            type: string
            example: emak01HN2NJQRGDQP0GBE1F7R6PB3D
          in: query
          name: make_id
          description: Specify the make of EVSE to be onboarded.
        - schema:
            type: string
            example: emod01HN2NJHAJJAQD32QJ4QXTDSGW
          in: query
          name: model_id
          description: Specify the model of EVSE to be onboarded.
        - $ref: '#/components/parameters/client_id'
        - schema:
            type: string
            enum:
              - json
          in: query
          name: response_type
          description: >-
            When set to `json`, the endpoint returns a JSON payload (200)
            instead of a 302 redirect. Used by native mobile clients that prefer
            to open the onboarding URL in a WebView. Requires at least one of
            `make_id` or `model_id`.
        - schema:
            type: string
            format: uri
            example: https://drivers.ev.energy/acme
          in: query
          name: redirect_uri
          description: >-
            Optional URL to return the user to after onboarding completes. Its
            scheme and host must match one of the application's registered
            `redirect_uris` or its `onboarding_redirect_url`, otherwise the
            endpoint responds with `400`. When omitted, the application's static
            `onboarding_redirect_url` is used.
      security: []
    parameters: []
  /evse_onboarding/import:
    post:
      summary: Import an EVSE by serial number
      tags:
        - EVSEs
      responses:
        '201':
          description: Returns the newly imported EVSE, linked to the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EVSE'
          headers:
            EvEnergy-Version:
              $ref: '#/components/headers/version-2'
            X-RateLimit-Limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            RetryAfter:
              $ref: '#/components/headers/retry-after'
        '400':
          $ref: '#/components/responses/Problem400BadRequestCreate'
        '401':
          $ref: '#/components/responses/Problem401Unauthorized'
        '403':
          $ref: '#/components/responses/Problem403Forbidden'
        '404':
          description: >-
            The provider's system has no EVSE matching the supplied serial
            number for the authenticated user's email.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RFC9457ProblemDetail'
        '406':
          $ref: '#/components/responses/Problem406NotAcceptable'
        '422':
          description: >-
            The import could not be completed — either the EVSE is already
            registered in our database, the integration provider returned an
            error, or the provider is not supported for serial-number-based
            import.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RFC9457ProblemDetail'
        '429':
          $ref: '#/components/responses/Problem429TooManyRequests'
      operationId: post-evse_onboarding-import
      description: >-
        Import an EVSE into the ev.energy system using its serial number and the
        authenticated user's email. The backend calls the provider's API to look
        up the device and link it; the response is the freshly created `EVSE`
        resource, shape-identical to `GET /evses/{evse_id}`.


        Supported providers (serial-number-based onboarding): `ChargePoint`,
        `EO`, `SyncEV`, `EnelX`, `Easee`, `Wallbox`, `Zaptec`. Other EVSE
        providers use the OAuth flow via `GET /evse_onboarding/` instead.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EVSEImportRequest'
      parameters:
        - $ref: '#/components/parameters/expand-on-evse'
        - $ref: '#/components/parameters/version-2'
      security:
        - oauth2:
            - evse:write
  /evse_waitlist:
    post:
      summary: Add user to the EVSE waitlist
      description: >-
        Captures a user who hit an `incompatible` result on the EVSE
        compatibility check, so we can notify them once their hardware becomes
        supported. Pre-account, anonymous endpoint — no OAuth token required.


        The request body must identify the device in exactly one of two modes:


        - **Picker mode** — supply `evse_model_id` (uid of an `EVSEModel`).
        `evse_make_name` and `evse_model_name` must be omitted / null.

        - **Manual entry** — supply both `evse_make_name` and `evse_model_name`
        as free-text strings. `evse_model_id` must be omitted / null.


        Any other combination — including all three null — returns `400`.


        Country is derived server-side: from `program.country` when `program_id`
        is supplied; otherwise from the `Accept-Language` header (defaulting to
        `US`).


        Error responses follow RFC 9457 Problem Details. Problem types emitted
        by this endpoint:


        - `validation-failed-evse-waitlist` — request body fails validation
        (missing required field, mode constraint violation, unknown
        `evse_model_id` / `program_id`).
      tags:
        - EVSEs
      operationId: post-evse_waitlist
      parameters:
        - $ref: '#/components/parameters/version-2'
        - $ref: '#/components/parameters/Accept-Language'
        - name: client_id
          in: query
          required: false
          description: >-
[...]
